# Experimentos baseados em regressão utilizando AdaBoost

- Utilizando cada paredão como teste e avaliando com holdout.

In [1]:
import pandas as pd 
import numpy as np 
from regression_utils import *
from sklearn.ensemble import AdaBoostRegressor

In [2]:
REMOVE = ["positivos", "neutros", "negativos", "likes", "retweets", "day2", "day3"]

In [3]:
NORMALIZE = False
# ESTIMATORS = 100
# LOSS = "linear"
# LR = 1
# Parâmetros Grid Search
ESTIMATORS = 200
LOSS = "linear"
LR = 0.55

In [4]:
summary_df = pd.DataFrame(columns=set(COLUMNS) - set(REMOVE))

# Paredao 1

In [5]:
train_df, test_df = get_train_test(1, normalize=NORMALIZE, drop_columns=REMOVE)

In [6]:
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
27,1,bianca_andrade,0.361998,0.37108,0.266922,0.483052,0.326345,0.20701,5849,411880,576,59,0.2446
28,1,lucas_chumbo,0.178042,0.35204,0.469919,0.516948,0.673655,0.79299,22759,12014,64,1425,0.7594

In [7]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [8]:
regressor = AdaBoostRegressor(n_estimators=ESTIMATORS, learning_rate=LR, loss=LOSS)

In [9]:
_ = regressor.fit(x_train, y_train)

In [10]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [11]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
28,1,lucas_chumbo,0.178042,0.35204,0.469919,0.516948,0.673655,0.79299,22759,12014,64,1425,0.7594,0.759122
27,1,bianca_andrade,0.361998,0.37108,0.266922,0.483052,0.326345,0.20701,5849,411880,576,59,0.2446,0.050638

# Paredao 2

In [12]:
train_df, test_df = get_train_test(2, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
23,2,babu,0.300946,0.397872,0.301182,0.067775,0.054604,0.028657,5606,325345,39,141,0.0044
24,2,petrix,0.146594,0.339433,0.513974,0.316781,0.446991,0.469254,46679,22414,62,10253,0.8027
25,2,pyong,0.414681,0.316993,0.268326,0.353997,0.164906,0.096777,12527,1431039,293,112,0.0066
26,2,hadson,0.147875,0.309531,0.542595,0.261447,0.333499,0.405312,25263,10207,24,4289,0.1863

In [13]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [14]:
regressor = AdaBoostRegressor(n_estimators=ESTIMATORS, learning_rate=LR, loss=LOSS)

In [15]:
_ = regressor.fit(x_train, y_train)

In [16]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [17]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
24,2,petrix,0.146594,0.339433,0.513974,0.316781,0.446991,0.469254,46679,22414,62,10253,0.8027,0.759400
26,2,hadson,0.147875,0.309531,0.542595,0.261447,0.333499,0.405312,25263,10207,24,4289,0.1863,0.759400
23,2,babu,0.300946,0.397872,0.301182,0.067775,0.054604,0.028657,5606,325345,39,141,0.0044,0.352633
25,2,pyong,0.414681,0.316993,0.268326,0.353997,0.164906,0.096777,12527,1431039,293,112,0.0066,0.060880

# Paredao 3

In [18]:
train_df, test_df = get_train_test(3, normalize=NORMALIZE,  drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
9,3,felipe_prior,0.281135,0.369039,0.349826,0.54644,0.429299,0.468471,1138,204031,116,76,0.2029
10,3,hadson,0.208189,0.437694,0.354117,0.45356,0.570701,0.531529,1903,10207,32,1411,0.7971

In [19]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [20]:
regressor = AdaBoostRegressor(n_estimators=ESTIMATORS, learning_rate=LR, loss=LOSS)

In [21]:
_ = regressor.fit(x_train, y_train)

In [22]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [23]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
10,3,hadson,0.208189,0.437694,0.354117,0.45356,0.570701,0.531529,1903,10207,32,1411,0.7971,0.748675
9,3,felipe_prior,0.281135,0.369039,0.349826,0.54644,0.429299,0.468471,1138,204031,116,76,0.2029,0.215650

# Paredao 4

In [24]:
train_df, test_df = get_train_test(4, normalize=NORMALIZE,  drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
35,4,babu,0.185986,0.297259,0.516754,0.311138,0.324375,0.339940,18271,325345,136,315,0.0130
36,4,victor_hugo,0.227361,0.369350,0.403289,0.129081,0.136781,0.090035,6845,14399,51,570,0.3608
37,4,lucas,0.197421,0.291340,0.511239,0.559781,0.538845,0.570026,32223,23670,218,5952,0.6262

In [25]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [26]:
regressor = AdaBoostRegressor(n_estimators=ESTIMATORS, learning_rate=LR, loss=LOSS)

In [27]:
_ = regressor.fit(x_train, y_train)

In [28]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [29]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
37,4,lucas,0.197421,0.291340,0.511239,0.559781,0.538845,0.570026,32223,23670,218,5952,0.6262,0.57850
36,4,victor_hugo,0.227361,0.369350,0.403289,0.129081,0.136781,0.090035,6845,14399,51,570,0.3608,0.17640
35,4,babu,0.185986,0.297259,0.516754,0.311138,0.324375,0.339940,18271,325345,136,315,0.0130,0.08972

# Paredao 5

In [30]:
train_df, test_df = get_train_test(5, normalize=NORMALIZE,  drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
3,5,bianca_andrade,0.221844,0.422179,0.355977,0.370866,0.371940,0.211900,1998,411880,608,1918,0.5309
4,5,flayslene,0.181474,0.328450,0.490076,0.201575,0.192263,0.193832,1935,104138,283,2872,0.1764
5,5,felipe_prior,0.146252,0.282867,0.570881,0.427559,0.435797,0.594268,3101,204031,798,7069,0.2927

In [31]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [32]:
regressor = AdaBoostRegressor(n_estimators=ESTIMATORS, learning_rate=LR, loss=LOSS)

In [33]:
_ = regressor.fit(x_train, y_train)

In [34]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [35]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
5,5,felipe_prior,0.146252,0.282867,0.570881,0.427559,0.435797,0.594268,3101,204031,798,7069,0.2927,0.532450
3,5,bianca_andrade,0.221844,0.422179,0.355977,0.370866,0.371940,0.211900,1998,411880,608,1918,0.5309,0.283140
4,5,flayslene,0.181474,0.328450,0.490076,0.201575,0.192263,0.193832,1935,104138,283,2872,0.1764,0.179413

# Paredao 6

In [36]:
train_df, test_df = get_train_test(6, normalize=NORMALIZE,  drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
0,6,gizelly_bicalho,0.387272,0.342758,0.269970,0.342739,0.242732,0.106771,20904,234977,1348,427,0.0064
1,6,guilherme,0.152063,0.253358,0.594579,0.258715,0.344924,0.452061,49438,103421,244,27184,0.5607
2,6,pyong,0.209643,0.271063,0.519294,0.398546,0.412345,0.441168,38968,1431039,1884,14897,0.4329

In [37]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [38]:
regressor = AdaBoostRegressor(n_estimators=ESTIMATORS, learning_rate=LR, loss=LOSS)

In [39]:
_ = regressor.fit(x_train, y_train)

In [40]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [41]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
1,6,guilherme,0.152063,0.253358,0.594579,0.258715,0.344924,0.452061,49438,103421,244,27184,0.5607,0.497600
2,6,pyong,0.209643,0.271063,0.519294,0.398546,0.412345,0.441168,38968,1431039,1884,14897,0.4329,0.497600
0,6,gizelly_bicalho,0.387272,0.342758,0.269970,0.342739,0.242732,0.106771,20904,234977,1348,427,0.0064,0.079762

# Paredao 7

In [42]:
train_df, test_df = get_train_test(7, normalize=NORMALIZE,  drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
6,7,babu,0.318519,0.299199,0.382283,0.456325,0.382861,0.434205,19044,325345,1590,210,0.0460
7,7,manu_gavassi,0.339061,0.350323,0.310616,0.364322,0.336216,0.264607,13372,4327060,1823,424,0.1018
8,7,victor_hugo,0.205263,0.359956,0.434781,0.179353,0.280923,0.301188,14217,14399,46,2473,0.8522

In [43]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [44]:
regressor = AdaBoostRegressor(n_estimators=ESTIMATORS, learning_rate=LR, loss=LOSS)

In [45]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [46]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
8,7,victor_hugo,0.205263,0.359956,0.434781,0.179353,0.280923,0.301188,14217,14399,46,2473,0.8522,0.298117
7,7,manu_gavassi,0.339061,0.350323,0.310616,0.364322,0.336216,0.264607,13372,4327060,1823,424,0.1018,0.041100
6,7,babu,0.318519,0.299199,0.382283,0.456325,0.382861,0.434205,19044,325345,1590,210,0.0460,0.038664

# Paredao 8

In [47]:
train_df, test_df = get_train_test(8, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
17,8,babu,0.238800,0.296049,0.465150,0.366229,0.314337,0.319854,29102,325345,4768,19543,0.4771
18,8,rafa,0.184500,0.264728,0.550772,0.207663,0.206290,0.277956,27062,293473,2998,439,0.0059
19,8,pyong,0.211414,0.343538,0.445048,0.426107,0.479374,0.402191,42474,1431039,2876,27574,0.5170

In [48]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [49]:
regressor = AdaBoostRegressor(n_estimators=ESTIMATORS, learning_rate=LR, loss=LOSS)

In [50]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [51]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
19,8,pyong,0.211414,0.343538,0.445048,0.426107,0.479374,0.402191,42474,1431039,2876,27574,0.5170,0.551467
17,8,babu,0.238800,0.296049,0.465150,0.366229,0.314337,0.319854,29102,325345,4768,19543,0.4771,0.519800
18,8,rafa,0.184500,0.264728,0.550772,0.207663,0.206290,0.277956,27062,293473,2998,439,0.0059,0.093467

# Paredão 9

In [52]:
train_df, test_df = get_train_test(9, normalize=NORMALIZE,  drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
14,9,daniel,0.210559,0.351664,0.437777,0.355075,0.417310,0.397548,43662,33876,124,19608,0.8082
15,9,flayslene,0.265438,0.300293,0.434269,0.375880,0.299236,0.331158,14010,104138,2038,1033,0.0954
16,9,ivy,0.228849,0.342627,0.428523,0.269045,0.283453,0.271294,34835,59125,71,3050,0.0964

In [53]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [54]:
regressor = AdaBoostRegressor(n_estimators=ESTIMATORS, learning_rate=LR, loss=LOSS)

In [55]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [56]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
14,9,daniel,0.210559,0.351664,0.437777,0.355075,0.417310,0.397548,43662,33876,124,19608,0.8082,0.699142
16,9,ivy,0.228849,0.342627,0.428523,0.269045,0.283453,0.271294,34835,59125,71,3050,0.0964,0.574450
15,9,flayslene,0.265438,0.300293,0.434269,0.375880,0.299236,0.331158,14010,104138,2038,1033,0.0954,0.183825

# Paredão 10

In [57]:
train_df, test_df = get_train_test(10, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
11,10,manu_gavassi,0.233780,0.448016,0.318204,0.559785,0.551039,0.428851,42943,4785334,30069,40235,0.4251
12,10,mari,0.282518,0.348057,0.369426,0.152072,0.096234,0.111922,19694,269733,2982,3304,0.0076
13,10,felipe_prior,0.160907,0.383470,0.455623,0.288144,0.352728,0.459226,57998,642881,12535,95402,0.5673

In [58]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [59]:
regressor = AdaBoostRegressor(n_estimators=ESTIMATORS, learning_rate=LR, loss=LOSS)

In [60]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [61]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
13,10,felipe_prior,0.160907,0.383470,0.455623,0.288144,0.352728,0.459226,57998,642881,12535,95402,0.5673,0.539170
11,10,manu_gavassi,0.233780,0.448016,0.318204,0.559785,0.551039,0.428851,42943,4785334,30069,40235,0.4251,0.497556
12,10,mari,0.282518,0.348057,0.369426,0.152072,0.096234,0.111922,19694,269733,2982,3304,0.0076,0.160567

# Paredão 11

In [62]:
train_df, test_df = get_train_test(11, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
32,11,babu,0.308665,0.307782,0.383552,0.370075,0.326630,0.340651,34274,638797,4340,1342,0.0411
33,11,gabi,0.299995,0.305646,0.394360,0.302261,0.272582,0.294337,31402,237780,749,15739,0.5961
34,11,thelma,0.257353,0.355636,0.387011,0.327664,0.400788,0.365012,27203,385019,6991,5144,0.3628

In [63]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [64]:
regressor = AdaBoostRegressor(n_estimators=ESTIMATORS, learning_rate=LR, loss=LOSS)

In [65]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [66]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
33,11,gabi,0.299995,0.305646,0.394360,0.302261,0.272582,0.294337,31402,237780,749,15739,0.5961,0.451100
34,11,thelma,0.257353,0.355636,0.387011,0.327664,0.400788,0.365012,27203,385019,6991,5144,0.3628,0.202900
32,11,babu,0.308665,0.307782,0.383552,0.370075,0.326630,0.340651,34274,638797,4340,1342,0.0411,0.074995

# Paredão 12

In [67]:
train_df, test_df = get_train_test(12, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
20,12,babu,0.273111,0.297644,0.429245,0.485102,0.420554,0.347650,21427,638797,2911,1151,0.0106
21,12,flayslene,0.213188,0.260489,0.526322,0.330764,0.321495,0.372349,41768,194492,1975,14354,0.4918
22,12,marcela,0.164043,0.288890,0.547066,0.184134,0.257951,0.280000,35033,241491,449,25937,0.4976

In [68]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [69]:
regressor = AdaBoostRegressor(n_estimators=ESTIMATORS, learning_rate=LR, loss=LOSS)

In [70]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [71]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
21,12,flayslene,0.213188,0.260489,0.526322,0.330764,0.321495,0.372349,41768,194492,1975,14354,0.4918,0.568656
22,12,marcela,0.164043,0.288890,0.547066,0.184134,0.257951,0.280000,35033,241491,449,25937,0.4976,0.556433
20,12,babu,0.273111,0.297644,0.429245,0.485102,0.420554,0.347650,21427,638797,2911,1151,0.0106,0.122000

# Paredão 13

In [72]:
train_df, test_df = get_train_test(13, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
29,13,flayslene,0.223041,0.317819,0.459140,0.380747,0.392137,0.433244,28215,194492,1989,14457,0.6300
30,13,thelma,0.224189,0.422228,0.353583,0.188596,0.256728,0.164417,4695,385019,1552,7098,0.3653
31,13,babu,0.261903,0.295444,0.442653,0.430657,0.351135,0.402338,20133,638797,1740,678,0.0047

In [73]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [74]:
regressor = AdaBoostRegressor(n_estimators=ESTIMATORS, learning_rate=LR, loss=LOSS)

In [75]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [76]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
29,13,flayslene,0.223041,0.317819,0.459140,0.380747,0.392137,0.433244,28215,194492,1989,14457,0.6300,0.488429
30,13,thelma,0.224189,0.422228,0.353583,0.188596,0.256728,0.164417,4695,385019,1552,7098,0.3653,0.458000
31,13,babu,0.261903,0.295444,0.442653,0.430657,0.351135,0.402338,20133,638797,1740,678,0.0047,0.083509

# Sumarizando

In [77]:
summary_df = summary_df[["paredao", "nome", "rejeicao", "predicao"]]
summary_df["erro_absoluto"] = abs(summary_df["rejeicao"] - summary_df["predicao"])
summary_df.sort_values(by="erro_absoluto")

   paredao             nome  rejeicao  predicao  erro_absoluto
1        1     lucas_chumbo    0.7594  0.759122       0.000278
12       5        flayslene    0.1764  0.179413       0.003013
17       7             babu    0.0460  0.038664       0.007336
6        3     felipe_prior    0.2029  0.215650       0.012750
28      10     felipe_prior    0.5673  0.539170       0.028130
29      11             babu    0.0411  0.074995       0.033895
22       8            pyong    0.5170  0.551467       0.034467
20       8             babu    0.4771  0.519800       0.042700
3        2           petrix    0.8027  0.759400       0.043300
10       4            lucas    0.6262  0.578500       0.047700
7        3           hadson    0.7971  0.748675       0.048425
4        2            pyong    0.0066  0.060880       0.054280
34      12          marcela    0.4976  0.556433       0.058833
18       7     manu_gavassi    0.1018  0.041100       0.060700
15       6        guilherme    0.5607  0.497600       0.063100
16       6            pyong    0.4329  0.497600       0.064700
26      10     manu_gavassi    0.4251  0.497556       0.072456
14       6  gizelly_bicalho    0.0064  0.079762       0.073362
8        4             babu    0.0130  0.089720       0.076720
33      12        flayslene    0.4918  0.568656       0.076856
37      13             babu    0.0047  0.083509       0.078809
21       8             rafa    0.0059  0.093467       0.087567
24       9        flayslene    0.0954  0.183825       0.088425
36      13           thelma    0.3653  0.458000       0.092700
23       9           daniel    0.8082  0.699142       0.109058
32      12             babu    0.0106  0.122000       0.111400
35      13        flayslene    0.6300  0.488429       0.141571
30      11             gabi    0.5961  0.451100       0.145000
27      10             mari    0.0076  0.160567       0.152967
31      11           thelma    0.3628  0.202900       0.159900
9        4      victor_hugo    0.3608  0.176400       0.184400
0        1   bianca_andrade    0.2446  0.050638       0.193962
13       5     felipe_prior    0.2927  0.532450       0.239750
11       5   bianca_andrade    0.5309  0.283140       0.247760
2        2             babu    0.0044  0.352633       0.348233
25       9              ivy    0.0964  0.574450       0.478050
19       7      victor_hugo    0.8522  0.298117       0.554083
5        2           hadson    0.1863  0.759400       0.573100