# Experimentos baseados em regressão linear

- Utilizando cada paredão como teste e avaliando com holdout.

In [1]:
import pandas as pd 
import numpy as np 
from regression_utils import *
from sklearn.linear_model import LinearRegression

In [2]:
NORMALIZE = True
REMOVE = []

In [3]:
summary_df = pd.DataFrame(columns=set(COLUMNS) - set(REMOVE))

# Paredao 1

In [4]:
train_df, test_df, mean, std = get_train_test(1, normalize=NORMALIZE, drop_columns=REMOVE)

In [5]:
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
24,1,bianca_andrade,-0.772641,-0.681373,-0.992892,1.372752,0.718248,-1.674638,1.061512,-0.112851,-0.769069,-1.058300,-0.758909,-0.608469,-0.876601,-0.877481,-0.167656,-0.347670
25,1,lucas_chumbo,-0.746509,-0.470902,-0.588873,-0.824652,0.378133,0.516734,1.319799,2.139019,2.526673,-0.033023,-0.770357,-0.604842,-0.720701,-0.629421,-0.526805,1.455205

In [6]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [7]:
regressor = LinearRegression()

In [8]:
_ = regressor.fit(x_train, y_train)

In [9]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [10]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
25,1,lucas_chumbo,-0.746509,-0.470902,-0.588873,-0.824652,0.378133,0.516734,1.319799,2.139019,2.526673,-0.033023,-0.770357,-0.604842,-0.720701,-0.629421,-0.526805,0.7594,0.929552
24,1,bianca_andrade,-0.772641,-0.681373,-0.992892,1.372752,0.718248,-1.674638,1.061512,-0.112851,-0.769069,-1.058300,-0.758909,-0.608469,-0.876601,-0.877481,-0.167656,0.2446,0.330667

# Paredao 2

In [11]:
train_df, test_df, mean, std = get_train_test(2, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
20,2,babu,-0.866293,-0.688218,-0.990616,0.643466,1.196839,-1.304798,-2.102981,-1.874743,-1.772186,-1.073033,-0.755683,-0.680663,-0.933090,-0.878111,-0.245379,-1.188871
21,2,petrix,0.157900,0.683744,1.238796,-1.200302,0.152933,0.992311,-0.205506,0.669386,0.705879,1.417279,0.923007,-0.159152,0.700892,1.497154,-0.517464,1.606845
22,2,pyong,0.310970,-0.302554,-0.645934,2.002066,-0.247902,-1.659487,0.078081,-1.159580,-1.389060,-0.653404,-0.106778,-0.354145,0.012254,0.112049,0.747726,-1.181167
23,2,hadson,-0.069699,0.286925,0.915246,-1.185004,-0.381200,1.301279,-0.627167,-0.066464,0.346243,0.118798,1.029268,-0.411096,0.328932,0.858862,-0.528428,-0.551841

In [12]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [13]:
regressor = LinearRegression()

In [14]:
_ = regressor.fit(x_train, y_train)

In [15]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [16]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
20,2,babu,-0.866293,-0.688218,-0.990616,0.643466,1.196839,-1.304798,-2.102981,-1.874743,-1.772186,-1.073033,-0.755683,-0.680663,-0.933090,-0.878111,-0.245379,0.0044,0.200583
21,2,petrix,0.157900,0.683744,1.238796,-1.200302,0.152933,0.992311,-0.205506,0.669386,0.705879,1.417279,0.923007,-0.159152,0.700892,1.497154,-0.517464,0.8027,-0.086714
22,2,pyong,0.310970,-0.302554,-0.645934,2.002066,-0.247902,-1.659487,0.078081,-1.159580,-1.389060,-0.653404,-0.106778,-0.354145,0.012254,0.112049,0.747726,0.0066,-0.261895
23,2,hadson,-0.069699,0.286925,0.915246,-1.185004,-0.381200,1.301279,-0.627167,-0.066464,0.346243,0.118798,1.029268,-0.411096,0.328932,0.858862,-0.528428,0.1863,-0.708059

# Paredao 3

In [17]:
train_df, test_df, mean, std = get_train_test(3, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
9,3,felipe_prior,-0.938923,-0.738964,-1.002301,0.406823,0.681797,-0.779683,1.544535,0.554679,0.701472,-1.343934,-0.742750,-0.603029,-0.860468,-0.799198,-0.354340,-0.493707
10,3,hadson,-0.973961,-0.692793,-0.984356,-0.464533,1.908176,-0.733362,0.836776,1.471488,1.056132,-1.297551,-0.740894,-0.581269,-0.986669,-0.931581,-0.528428,1.587234

In [18]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [19]:
regressor = LinearRegression()

In [20]:
_ = regressor.fit(x_train, y_train)

In [21]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [22]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
10,3,hadson,-0.973961,-0.692793,-0.984356,-0.464533,1.908176,-0.733362,0.836776,1.471488,1.056132,-1.297551,-0.740894,-0.581269,-0.986669,-0.931581,-0.528428,0.7971,0.566888
9,3,felipe_prior,-0.938923,-0.738964,-1.002301,0.406823,0.681797,-0.779683,1.544535,0.554679,0.701472,-1.343934,-0.742750,-0.603029,-0.860468,-0.799198,-0.354340,0.2029,0.286242

# Paredao 4

In [23]:
train_df, test_df, mean, std = get_train_test(4, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
29,4,babu,-0.651177,-0.470221,-0.422393,-0.729748,-0.600402,1.022327,-0.248512,-0.125625,-0.021431,-0.305137,-0.484775,-0.593679,-0.752555,-0.780460,-0.245379,-1.158753
30,4,victor_hugo,-0.940164,-0.706709,-0.946720,-0.235518,0.687354,-0.202547,-1.635818,-1.341933,-1.426980,-0.997911,-0.806701,-0.669103,-0.965454,-0.924822,-0.524663,0.059273
31,4,lucas,-0.256493,-0.199852,0.060351,-0.593155,-0.706147,0.962791,1.646199,1.264942,1.272651,0.540792,-0.294949,-0.328475,-0.319081,-0.239796,-0.516336,0.988727

In [24]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [25]:
regressor = LinearRegression()

In [26]:
_ = regressor.fit(x_train, y_train)

In [27]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [28]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
31,4,lucas,-0.256493,-0.199852,0.060351,-0.593155,-0.706147,0.962791,1.646199,1.264942,1.272651,0.540792,-0.294949,-0.328475,-0.319081,-0.239796,-0.516336,0.6262,0.509526
29,4,babu,-0.651177,-0.470221,-0.422393,-0.729748,-0.600402,1.022327,-0.248512,-0.125625,-0.021431,-0.305137,-0.484775,-0.593679,-0.752555,-0.780460,-0.245379,0.0130,0.382674
30,4,victor_hugo,-0.940164,-0.706709,-0.946720,-0.235518,0.687354,-0.202547,-1.635818,-1.341933,-1.426980,-0.997911,-0.806701,-0.669103,-0.965454,-0.924822,-0.524663,0.3608,0.321110

# Paredao 5

In [29]:
train_df, test_df, mean, std = get_train_test(5, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
3,5,bianca_andrade,-0.835635,-0.574096,-0.877556,-0.301418,1.631031,-0.713285,0.206630,0.182775,-0.741566,-1.291791,-0.635146,-0.351765,-1.039214,-1.006440,-0.167656,0.654978
4,5,flayslene,-0.976881,-0.721456,-0.899561,-0.783644,-0.043249,0.734329,-1.083403,-0.982199,-0.843190,-1.295611,-0.701324,-0.580192,-0.974915,-0.927507,-0.444062,-0.586512
5,5,felipe_prior,-0.788335,-0.521723,-0.411884,-1.204389,-0.857493,1.606636,0.638641,0.596808,1.408996,-1.224915,-0.309738,-0.249424,-0.699141,-0.613431,-0.354340,-0.179219

In [30]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [31]:
regressor = LinearRegression()

In [32]:
_ = regressor.fit(x_train, y_train)

In [33]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [34]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
5,5,felipe_prior,-0.788335,-0.521723,-0.411884,-1.204389,-0.857493,1.606636,0.638641,0.596808,1.408996,-1.224915,-0.309738,-0.249424,-0.699141,-0.613431,-0.354340,0.2927,0.619853
3,5,bianca_andrade,-0.835635,-0.574096,-0.877556,-0.301418,1.631031,-0.713285,0.206630,0.182775,-0.741566,-1.291791,-0.635146,-0.351765,-1.039214,-1.006440,-0.167656,0.5309,0.478432
4,5,flayslene,-0.976881,-0.721456,-0.899561,-0.783644,-0.043249,0.734329,-1.083403,-0.982199,-0.843190,-1.295611,-0.701324,-0.580192,-0.974915,-0.927507,-0.444062,0.1764,0.437963

# Paredao 6

In [35]:
train_df, test_df, mean, std = get_train_test(6, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
0,6,gizelly_bicalho,0.365716,-0.186466,-0.588228,1.674660,0.212331,-1.641737,-0.007701,-0.654975,-1.332847,-0.145494,-0.255293,-0.231403,0.386599,0.342863,-0.326546,-1.181867
1,6,guilherme,-0.004660,0.105154,1.182000,-1.134966,-1.384610,1.862450,-0.647986,0.007609,0.609177,1.584561,0.079679,0.280304,0.452949,0.626800,-0.444706,0.759340
2,6,pyong,0.611710,0.297551,1.126153,-0.447167,-1.068352,1.049750,0.417557,0.444749,0.547910,0.949751,0.592602,0.538934,0.553031,0.583206,0.747726,0.311773

In [36]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [37]:
regressor = LinearRegression()

In [38]:
_ = regressor.fit(x_train, y_train)

In [39]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [40]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
1,6,guilherme,-0.004660,0.105154,1.182000,-1.134966,-1.384610,1.862450,-0.647986,0.007609,0.609177,1.584561,0.079679,0.280304,0.452949,0.626800,-0.444706,0.5607,0.494810
0,6,gizelly_bicalho,0.365716,-0.186466,-0.588228,1.674660,0.212331,-1.641737,-0.007701,-0.654975,-1.332847,-0.145494,-0.255293,-0.231403,0.386599,0.342863,-0.326546,0.0064,0.321967
2,6,pyong,0.611710,0.297551,1.126153,-0.447167,-1.068352,1.049750,0.417557,0.444749,0.547910,0.949751,0.592602,0.538934,0.553031,0.583206,0.747726,0.4329,0.163437

# Paredao 7

In [41]:
train_df, test_df, mean, std = get_train_test(7, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
6,7,babu,-0.071597,-0.356779,-0.465986,0.853379,-0.565762,-0.429306,0.857847,0.253584,0.508749,-0.258269,-0.348965,-0.352219,0.826403,0.322200,-0.245379,-1.043184
7,7,manu_gavassi,-0.288027,-0.420420,-0.727542,1.098762,0.347477,-1.202961,0.156761,-0.048850,-0.445128,-0.602170,-0.475497,-0.433706,-0.312752,-0.535243,3.348856,-0.847768
8,7,victor_hugo,-0.723150,-0.495859,-0.671126,-0.499485,0.519542,0.137418,-1.252739,-0.407351,-0.239382,-0.550937,-0.661041,-0.479890,-0.299229,-0.432002,-0.524663,1.780199

In [42]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [43]:
regressor = LinearRegression()

In [44]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [45]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
8,7,victor_hugo,-0.723150,-0.495859,-0.671126,-0.499485,0.519542,0.137418,-1.252739,-0.407351,-0.239382,-0.550937,-0.661041,-0.479890,-0.299229,-0.432002,-0.524663,0.8522,0.060372
7,7,manu_gavassi,-0.288027,-0.420420,-0.727542,1.098762,0.347477,-1.202961,0.156761,-0.048850,-0.445128,-0.602170,-0.475497,-0.433706,-0.312752,-0.535243,3.348856,0.1018,-0.375300
6,7,babu,-0.071597,-0.356779,-0.465986,0.853379,-0.565762,-0.429306,0.857847,0.253584,0.508749,-0.258269,-0.348965,-0.352219,0.826403,0.322200,-0.245379,0.0460,-0.620687

# Paredao 8

In [46]:
train_df, test_df, mean, std = get_train_test(8, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
17,8,babu,0.317978,0.060458,0.345582,-0.098872,-0.622020,0.465258,0.171297,-0.190708,-0.134402,0.351562,0.116994,0.292827,0.526940,0.392387,-0.245379,0.466566
18,8,rafa,-0.315473,-0.262510,0.151558,-0.747507,-1.181503,1.389553,-1.037007,-0.891256,-0.370049,0.227874,-0.275449,-0.078175,-0.621504,-0.852390,-0.274006,-1.183618
19,8,pyong,0.557182,0.553778,0.726876,-0.426012,0.226275,0.248249,0.627579,0.879347,0.328690,1.162325,0.409856,0.448266,0.009380,0.024868,0.747726,0.606299

In [47]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [48]:
regressor = LinearRegression()

In [49]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [50]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
19,8,pyong,0.557182,0.553778,0.726876,-0.426012,0.226275,0.248249,0.627579,0.879347,0.328690,1.162325,0.409856,0.448266,0.009380,0.024868,0.747726,0.5170,0.603785
18,8,rafa,-0.315473,-0.262510,0.151558,-0.747507,-1.181503,1.389553,-1.037007,-0.891256,-0.370049,0.227874,-0.275449,-0.078175,-0.621504,-0.852390,-0.274006,0.0059,0.280966
17,8,babu,0.317978,0.060458,0.345582,-0.098872,-0.622020,0.465258,0.171297,-0.190708,-0.134402,0.351562,0.116994,0.292827,0.526940,0.392387,-0.245379,0.4771,0.140696

# Paredão 9

In [51]:
train_df, test_df, mean, std = get_train_test(9, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
14,9,daniel,0.099504,0.197647,0.209303,-0.436225,0.371425,0.169761,0.086300,0.476945,0.302580,1.234355,-0.214639,-0.041567,0.296107,0.422837,-0.507169,1.626107
15,9,flayslene,0.172426,-0.107019,-0.015300,0.219322,-0.546219,0.131892,0.244836,-0.288614,-0.070823,-0.563487,0.247523,-0.014027,0.107868,0.056196,-0.444062,-0.870181
16,9,ivy,-0.202039,-0.147745,-0.217822,-0.217741,0.210002,0.069866,-0.569267,-0.390948,-0.407518,0.699161,-0.449688,-0.464477,-0.040660,-0.013060,-0.484491,-0.866679

In [52]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [53]:
regressor = LinearRegression()

In [54]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [55]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
14,9,daniel,0.099504,0.197647,0.209303,-0.436225,0.371425,0.169761,0.086300,0.476945,0.302580,1.234355,-0.214639,-0.041567,0.296107,0.422837,-0.507169,0.8082,0.665049
16,9,ivy,-0.202039,-0.147745,-0.217822,-0.217741,0.210002,0.069866,-0.569267,-0.390948,-0.407518,0.699161,-0.449688,-0.464477,-0.040660,-0.013060,-0.484491,0.0964,0.388987
15,9,flayslene,0.172426,-0.107019,-0.015300,0.219322,-0.546219,0.131892,0.244836,-0.288614,-0.070823,-0.563487,0.247523,-0.014027,0.107868,0.056196,-0.444062,0.0954,0.009443

# Paredão 10

In [56]:
train_df, test_df, mean, std = get_train_test(10, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
11,10,manu_gavassi,4.052110,4.280406,2.541152,-0.158847,2.092554,-1.121042,1.646226,1.344005,0.478639,1.190761,3.944128,4.414311,2.851760,2.197491,3.760466,0.284457
12,10,mari,0.266808,0.021926,-0.176051,0.423339,0.306985,-0.568099,-1.460626,-1.604830,-1.303875,-0.218858,0.006849,0.167989,-0.540516,-0.634790,-0.295329,-1.177665
13,10,felipe_prior,1.530133,2.423558,2.801570,-1.029327,0.939568,0.362411,-0.423731,0.058208,0.649476,2.103566,2.353400,2.367028,2.877635,3.197821,0.039823,0.782454

In [57]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [58]:
regressor = LinearRegression()

In [59]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [60]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
13,10,felipe_prior,1.530133,2.423558,2.801570,-1.029327,0.939568,0.362411,-0.423731,0.058208,0.649476,2.103566,2.353400,2.367028,2.877635,3.197821,0.039823,0.5673,1.006792
11,10,manu_gavassi,4.052110,4.280406,2.541152,-0.158847,2.092554,-1.121042,1.646226,1.344005,0.478639,1.190761,3.944128,4.414311,2.851760,2.197491,3.760466,0.4251,0.379893
12,10,mari,0.266808,0.021926,-0.176051,0.423339,0.306985,-0.568099,-1.460626,-1.604830,-1.303875,-0.218858,0.006849,0.167989,-0.540516,-0.634790,-0.295329,0.0076,0.068934

# Sumarizando

In [61]:
summary_df

,rejeicao,day2,negativos_individual_pct,nome,day3,negativos,positivos,likes,positivos_global_pct,paredao,retweets,negativos_global_pct,seguidores,positivos_individual_pct,neutros_individual_pct,neutros_global_pct,day1,neutros,predicao
0,0.2446,-0.758909,-1.674638,bianca_andrade,-0.608469,-0.992892,-0.772641,-0.876601,1.061512,1,-0.877481,-0.769069,-0.167656,1.372752,0.718248,-0.112851,-1.058300,-0.681373,0.330667
1,0.7594,-0.770357,0.516734,lucas_chumbo,-0.604842,-0.588873,-0.746509,-0.720701,1.319799,1,-0.629421,2.526673,-0.526805,-0.824652,0.378133,2.139019,-0.033023,-0.470902,0.929552
2,0.0044,-0.755683,-1.304798,babu,-0.680663,-0.990616,-0.866293,-0.933090,-2.102981,2,-0.878111,-1.772186,-0.245379,0.643466,1.196839,-1.874743,-1.073033,-0.688218,0.200583
3,0.8027,0.923007,0.992311,petrix,-0.159152,1.238796,0.157900,0.700892,-0.205506,2,1.497154,0.705879,-0.517464,-1.200302,0.152933,0.669386,1.417279,0.683744,-0.086714
4,0.0066,-0.106778,-1.659487,pyong,-0.354145,-0.645934,0.310970,0.012254,0.078081,2,0.112049,-1.389060,0.747726,2.002066,-0.247902,-1.159580,-0.653404,-0.302554,-0.261895
5,0.1863,1.029268,1.301279,hadson,-0.411096,0.915246,-0.069699,0.328932,-0.627167,2,0.858862,0.346243,-0.528428,-1.185004,-0.381200,-0.066464,0.118798,0.286925,-0.708059
6,0.2029,-0.742750,-0.779683,felipe_prior,-0.603029,-1.002301,-0.938923,-0.860468,1.544535,3,-0.799198,0.701472,-0.354340,0.406823,0.681797,0.554679,-1.343934,-0.738964,0.286242
7,0.7971,-0.740894,-0.733362,hadson,-0.581269,-0.984356,-0.973961,-0.986669,0.836776,3,-0.931581,1.056132,-0.528428,-0.464533,1.908176,1.471488,-1.297551,-0.692793,0.566888
8,0.0130,-0.484775,1.022327,babu,-0.593679,-0.422393,-0.651177,-0.752555,-0.248512,4,-0.780460,-0.021431,-0.245379,-0.729748,-0.600402,-0.125625,-0.305137,-0.470221,0.382674
9,0.3608,-0.806701,-0.202547,victor_hugo,-0.669103,-0.946720,-0.940164,-0.965454,-1.635818,4,-0.924822,-1.426980,-0.524663,-0.235518,0.687354,-1.341933,-0.997911,-0.706709,0.321110
10,0.6262,-0.294949,0.962791,lucas,-0.328475,0.060351,-0.256493,-0.319081,1.646199,4,-0.239796,1.272651,-0.516336,-0.593155,-0.706147,1.264942,0.540792,-0.199852,0.509526
11,0.5309,-0.635146,-0.713285,bianca_andrade,-0.351765,-0.877556,-0.835635,-1.039214,0.206630,5,-1.006440,-0.741566,-0.167656,-0.301418,1.631031,0.182775,-1.291791,-0.574096,0.478432
12,0.1764,-0.701324,0.734329,flayslene,-0.580192,-0.899561,-0.976881,-0.974915,-1.083403,5,-0.927507,-0.843190,-0.444062,-0.783644,-0.043249,-0.982199,-1.295611,-0.721456,0.437963
13,0.2927,-0.309738,1.606636,felipe_prior,-0.249424,-0.411884,-0.788335,-0.699141,0.638641,5,-0.613431,1.408996,-0.354340,-1.204389,-0.857493,0.596808,-1.224915,-0.521723,0.619853
14,0.0064,-0.255293,-1.641737,gizelly_bicalho,-0.231403,-0.588228,0.365716,0.386599,-0.007701,6,0.342863,-1.332847,-0.326546,1.674660,0.212331,-0.654975,-0.145494,-0.186466,0.321967
15,0.5607,0.079679,1.862450,guilherme,0.280304,1.182000,-0.004660,0.452949,-0.647986,6,0.626800,0.609177,-0.444706,-1.134966,-1.384610,0.007609,1.584561,0.105154,0.494810
16,0.4329,0.592602,1.049750,pyong,0.538934,1.126153,0.611710,0.553031,0.417557,6,0.583206,0.547910,0.747726,-0.447167,-1.068352,0.444749,0.949751,0.297551,0.163437
17,0.0460,-0.348965,-0.429306,babu,-0.352219,-0.465986,-0.071597,0.826403,0.857847,7,0.322200,0.508749,-0.245379,0.853379,-0.565762,0.253584,-0.258269,-0.356779,-0.620687
18,0.1018,-0.475497,-1.202961,manu_gavassi,-0.433706,-0.727542,-0.288027,-0.312752,0.156761,7,-0.535243,-0.445128,3.348856,1.098762,0.347477,-0.048850,-0.602170,-0.420420,-0.375300
19,0.8522,-0.661041,0.137418,victor_hugo,-0.479890,-0.671126,-0.723150,-0.299229,-1.252739,7,-0.432002,-0.239382,-0.524663,-0.499485,0.519542,-0.407351,-0.550937,-0.495859,0.060372
20,0.4771,0.116994,0.465258,babu,0.292827,0.345582,0.317978,0.526940,0.171297,8,0.392387,-0.134402,-0.245379,-0.098872,-0.622020,-0.190708,0.351562,0.060458,0.140696
21,0.0059,-0.275449,1.389553,rafa,-0.078175,0.151558,-0.315473,-0.621504,-1.037007,8,-0.852390,-0.370049,-0.274006,-0.747507,-1.181503,-0.891256,0.227874,-0.262510,0.280966
22,0.5170,0.409856,0.248249,pyong,0.448266,0.726876,0.557182,0.009380,0.627579,8,0.024868,0.328690,0.747726,-0.426012,0.226275,0.879347,1.162325,0.553778,0.603785
23,0.8082,-0.214639,0.169761,daniel,-0.041567,0.209303,0.099504,0.296107,0.086300,9,0.422837,0.302580,-0.507169,-0.436225,0.371425,0.476945,1.234355,0.197647,0.665049
24,0.0954,0.247523,0.131892,flayslene,-0.014027,-0.015300,0.172426,0.107868,0.244836,9,0.056196,-0.070823,-0.444062,0.219322,-0.546219,-0.288614,-0.563487,-0.107019,0.009443
25,0.0964,-0.449688,0.069866,ivy,-0.464477,-0.217822,-0.202039,-0.040660,-0.569267,9,-0.013060,-0.407518,-0.484491,-0.217741,0.210002,-0.390948,0.699161,-0.147745,0.388987
26,0.4251,3.944128,-1.121042,manu_gavassi,4.414311,2.541152,4.052110,2.851760,1.646226,10,2.197491,0.478639,3.760466,-0.158847,2.092554,1.344005,1.190761,4.280406,0.379893
27,0.0076,0.006849,-0.568099,mari,0.167989,-0.176051,0.266808,-0.540516,-1.460626,10,-0.634790,-1.303875,-0.295329,0.423339,0.306985,-1.604830,-0.218858,0.021926,0.068934
28,0.5673,2.353400,0.362411,felipe_prior,2.367028,2.801570,1.530133,2.877635,-0.423731,10,3.197821,0.649476,0.039823,-1.029327,0.939568,0.058208,2.103566,2.423558,1.006792