# Experimentos baseados em regressão linear

- Utilizando cada paredão como teste e avaliando com holdout.

In [1]:
import pandas as pd 
import numpy as np 
from regression_utils import *
from sklearn.linear_model import LinearRegression

In [2]:
NORMALIZE = True
REMOVE = ["positivos", "neutros", "negativos", "likes", "retweets", "day2", "day3"]

In [3]:
summary_df = pd.DataFrame(columns=set(COLUMNS) - set(REMOVE))

# Paredao 1

In [4]:
train_df, test_df, mean, std = get_train_test(1, normalize=NORMALIZE, drop_columns=REMOVE)

In [5]:
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao
24,1,bianca_andrade,1.691474,0.694588,-1.691078,1.119272,-0.126126,-0.822482,-1.094324,-0.167656,-0.347670
25,1,lucas_chumbo,-0.868480,0.297313,0.525974,1.391614,2.390624,2.702153,-0.036008,-0.526805,1.455205

In [6]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [7]:
regressor = LinearRegression()

In [8]:
_ = regressor.fit(x_train, y_train)

In [9]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [10]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao,predicao
25,1,lucas_chumbo,-0.868480,0.297313,0.525974,1.391614,2.390624,2.702153,-0.036008,-0.526805,0.7594,0.890029
24,1,bianca_andrade,1.691474,0.694588,-1.691078,1.119272,-0.126126,-0.822482,-1.094324,-0.167656,0.2446,0.113573

# Paredao 2

In [11]:
train_df, test_df, mean, std = get_train_test(2, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao
20,2,babu,0.841864,1.253614,-1.316904,-2.217411,-2.095263,-1.895266,-1.109533,-0.245379,-1.188871
21,2,petrix,-1.306109,0.034264,1.007125,-0.216688,0.748123,0.754903,1.461031,-0.517464,1.606845
22,2,pyong,2.424619,-0.433936,-1.675749,0.082330,-1.295977,-1.485532,-0.676380,0.747726,-1.181167
23,2,hadson,-1.288287,-0.589637,1.319713,-0.661293,-0.074282,0.370290,0.120705,-0.528428,-0.551841

In [12]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [13]:
regressor = LinearRegression()

In [14]:
_ = regressor.fit(x_train, y_train)

In [15]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [16]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao,predicao
21,2,petrix,-1.306109,0.034264,1.007125,-0.216688,0.748123,0.754903,1.461031,-0.517464,0.8027,0.756302
23,2,hadson,-1.288287,-0.589637,1.319713,-0.661293,-0.074282,0.370290,0.120705,-0.528428,0.1863,0.466044
20,2,babu,0.841864,1.253614,-1.316904,-2.217411,-2.095263,-1.895266,-1.109533,-0.245379,0.0044,0.144895
22,2,pyong,2.424619,-0.433936,-1.675749,0.082330,-1.295977,-1.485532,-0.676380,0.747726,0.0066,-0.219838

# Paredao 3

In [17]:
train_df, test_df, mean, std = get_train_test(3, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao
9,3,felipe_prior,0.566176,0.652012,-0.785636,1.628578,0.619924,0.750190,-1.389163,-0.354340,-0.493707
10,3,hadson,-0.448945,2.084500,-0.738772,0.882308,1.644574,1.129482,-1.341286,-0.528428,1.587234

In [18]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [19]:
regressor = LinearRegression()

In [20]:
_ = regressor.fit(x_train, y_train)

In [21]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [22]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao,predicao
10,3,hadson,-0.448945,2.084500,-0.738772,0.882308,1.644574,1.129482,-1.341286,-0.528428,0.7971,0.786255
9,3,felipe_prior,0.566176,0.652012,-0.785636,1.628578,0.619924,0.750190,-1.389163,-0.354340,0.2029,0.215905

# Paredao 4

In [23]:
train_df, test_df, mean, std = get_train_test(4, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao
29,4,babu,-0.757918,-0.845679,1.037492,-0.262035,-0.140402,-0.022919,-0.316891,-0.245379,-1.158753
30,4,victor_hugo,-0.182145,0.658502,-0.201736,-1.724828,-1.499780,-1.526085,-1.031990,-0.524663,0.059273
31,4,lucas,-0.598789,-0.969196,0.977258,1.735774,1.413732,1.361037,0.556299,-0.516336,0.988727

In [24]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [25]:
regressor = LinearRegression()

In [26]:
_ = regressor.fit(x_train, y_train)

In [27]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [28]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao,predicao
31,4,lucas,-0.598789,-0.969196,0.977258,1.735774,1.413732,1.361037,0.556299,-0.516336,0.6262,0.395731
29,4,babu,-0.757918,-0.845679,1.037492,-0.262035,-0.140402,-0.022919,-0.316891,-0.245379,0.0130,0.328441
30,4,victor_hugo,-0.182145,0.658502,-0.201736,-1.724828,-1.499780,-1.526085,-1.031990,-0.524663,0.3608,0.310216

# Paredao 5

In [29]:
train_df, test_df, mean, std = get_train_test(5, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao
3,5,bianca_andrade,-0.258918,1.760777,-0.718459,0.217874,0.204274,-0.793069,-1.335340,-0.167656,0.654978
4,5,flayslene,-0.820707,-0.194888,0.746119,-1.142354,-1.097732,-0.901750,-1.339283,-0.444062,-0.586512
5,5,felipe_prior,-1.310870,-1.145978,1.628649,0.673392,0.667008,1.506852,-1.266309,-0.354340,-0.179219

In [30]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [31]:
regressor = LinearRegression()

In [32]:
_ = regressor.fit(x_train, y_train)

In [33]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [34]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao,predicao
3,5,bianca_andrade,-0.258918,1.760777,-0.718459,0.217874,0.204274,-0.793069,-1.335340,-0.167656,0.5309,0.444765
5,5,felipe_prior,-1.310870,-1.145978,1.628649,0.673392,0.667008,1.506852,-1.266309,-0.354340,0.2927,0.262493
4,5,flayslene,-0.820707,-0.194888,0.746119,-1.142354,-1.097732,-0.901750,-1.339283,-0.444062,0.1764,0.152177

# Paredao 6

In [35]:
train_df, test_df, mean, std = get_train_test(6, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao
0,6,gizelly_bicalho,2.043195,0.103645,-1.657792,-0.008121,-0.732017,-1.425415,-0.152104,-0.326546,-1.181867
1,6,guilherme,-1.229993,-1.761684,1.887461,-0.683245,0.008504,0.651485,1.633704,-0.444706,0.759340
2,6,pyong,-0.428713,-1.392274,1.065236,0.440277,0.497064,0.585963,0.978436,0.747726,0.311773

In [36]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [37]:
regressor = LinearRegression()

In [38]:
_ = regressor.fit(x_train, y_train)

In [39]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [40]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao,predicao
1,6,guilherme,-1.229993,-1.761684,1.887461,-0.683245,0.008504,0.651485,1.633704,-0.444706,0.5607,0.375980
2,6,pyong,-0.428713,-1.392274,1.065236,0.440277,0.497064,0.585963,0.978436,0.747726,0.4329,0.317546
0,6,gizelly_bicalho,2.043195,0.103645,-1.657792,-0.008121,-0.732017,-1.425415,-0.152104,-0.326546,0.0064,0.182338

# Paredao 7

In [41]:
train_df, test_df, mean, std = get_train_test(7, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao
6,7,babu,1.086410,-0.805217,-0.431152,0.904525,0.283412,0.544082,-0.268512,-0.245379,-1.043184
7,7,manu_gavassi,1.372279,0.261504,-1.213874,0.165291,-0.054596,-0.476042,-0.623496,3.348856,-0.847768
8,7,victor_hugo,-0.489664,0.462487,0.142213,-1.320905,-0.455266,-0.256007,-0.570611,-0.524663,1.780199

In [42]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [43]:
regressor = LinearRegression()

In [44]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [45]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao,predicao
8,7,victor_hugo,-0.489664,0.462487,0.142213,-1.320905,-0.455266,-0.256007,-0.570611,-0.524663,0.8522,0.345441
6,7,babu,1.086410,-0.805217,-0.431152,0.904525,0.283412,0.544082,-0.268512,-0.245379,0.0460,0.225264
7,7,manu_gavassi,1.372279,0.261504,-1.213874,0.165291,-0.054596,-0.476042,-0.623496,3.348856,0.1018,-0.102492

# Paredao 8

In [46]:
train_df, test_df, mean, std = get_train_test(8, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao
17,8,babu,-0.022954,-0.870930,0.473895,0.180618,-0.213141,-0.143736,0.360970,-0.245379,0.466566
18,8,rafa,-0.778607,-1.524441,1.409021,-1.093434,-0.996091,-0.395749,0.233296,-0.274006,-1.183618
19,8,pyong,-0.404069,0.119933,0.254343,0.661727,0.982782,0.351518,1.197860,0.747726,0.606299

In [47]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [48]:
regressor = LinearRegression()

In [49]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [50]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao,predicao
19,8,pyong,-0.404069,0.119933,0.254343,0.661727,0.982782,0.351518,1.197860,0.747726,0.5170,0.596171
17,8,babu,-0.022954,-0.870930,0.473895,0.180618,-0.213141,-0.143736,0.360970,-0.245379,0.4771,0.235758
18,8,rafa,-0.778607,-1.524441,1.409021,-1.093434,-0.996091,-0.395749,0.233296,-0.274006,0.0059,0.163332

# Paredão 9

In [51]:
train_df, test_df, mean, std = get_train_test(9, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao
14,9,daniel,-0.415967,0.289477,0.174935,0.090996,0.533047,0.323595,1.272211,-0.507169,1.626107
15,9,flayslene,0.347739,-0.782390,0.136623,0.258158,-0.322562,-0.075742,-0.583566,-0.444062,-0.870181
16,9,ivy,-0.161435,0.100925,0.073869,-0.600243,-0.436934,-0.435820,0.719771,-0.484491,-0.866679

In [52]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [53]:
regressor = LinearRegression()

In [54]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [55]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao,predicao
14,9,daniel,-0.415967,0.289477,0.174935,0.090996,0.533047,0.323595,1.272211,-0.507169,0.8082,0.681158
16,9,ivy,-0.161435,0.100925,0.073869,-0.600243,-0.436934,-0.435820,0.719771,-0.484491,0.0964,0.407301
15,9,flayslene,0.347739,-0.782390,0.136623,0.258158,-0.322562,-0.075742,-0.583566,-0.444062,0.0954,0.226039

# Paredão 10

In [56]:
train_df, test_df, mean, std = get_train_test(10, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao
11,10,manu_gavassi,-0.092823,2.299866,-1.130995,1.735802,1.502096,0.511881,1.227212,3.760466,0.284457
12,10,mari,0.585417,0.214207,-0.571572,-1.540103,-1.793601,-1.394431,-0.227832,-0.295329,-1.177665
13,10,felipe_prior,-1.106925,0.953104,0.369842,-0.446787,0.065055,0.694583,2.169433,0.039823,0.782454

In [57]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [58]:
regressor = LinearRegression()

In [59]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [60]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao,predicao
13,10,felipe_prior,-1.106925,0.953104,0.369842,-0.446787,0.065055,0.694583,2.169433,0.039823,0.5673,0.647857
11,10,manu_gavassi,-0.092823,2.299866,-1.130995,1.735802,1.502096,0.511881,1.227212,3.760466,0.4251,0.512538
12,10,mari,0.585417,0.214207,-0.571572,-1.540103,-1.793601,-1.394431,-0.227832,-0.295329,0.0076,0.099159

# Sumarizando

In [61]:
summary_df

,positivos_global_pct,nome,day1,rejeicao,seguidores,negativos_individual_pct,neutros_individual_pct,negativos_global_pct,paredao,neutros_global_pct,positivos_individual_pct,predicao
0,1.119272,bianca_andrade,-1.094324,0.2446,-0.167656,-1.691078,0.694588,-0.822482,1,-0.126126,1.691474,0.113573
1,1.391614,lucas_chumbo,-0.036008,0.7594,-0.526805,0.525974,0.297313,2.702153,1,2.390624,-0.868480,0.890029
2,-2.217411,babu,-1.109533,0.0044,-0.245379,-1.316904,1.253614,-1.895266,2,-2.095263,0.841864,0.144895
3,-0.216688,petrix,1.461031,0.8027,-0.517464,1.007125,0.034264,0.754903,2,0.748123,-1.306109,0.756302
4,0.082330,pyong,-0.676380,0.0066,0.747726,-1.675749,-0.433936,-1.485532,2,-1.295977,2.424619,-0.219838
5,-0.661293,hadson,0.120705,0.1863,-0.528428,1.319713,-0.589637,0.370290,2,-0.074282,-1.288287,0.466044
6,1.628578,felipe_prior,-1.389163,0.2029,-0.354340,-0.785636,0.652012,0.750190,3,0.619924,0.566176,0.215905
7,0.882308,hadson,-1.341286,0.7971,-0.528428,-0.738772,2.084500,1.129482,3,1.644574,-0.448945,0.786255
8,-0.262035,babu,-0.316891,0.0130,-0.245379,1.037492,-0.845679,-0.022919,4,-0.140402,-0.757918,0.328441
9,-1.724828,victor_hugo,-1.031990,0.3608,-0.524663,-0.201736,0.658502,-1.526085,4,-1.499780,-0.182145,0.310216
10,1.735774,lucas,0.556299,0.6262,-0.516336,0.977258,-0.969196,1.361037,4,1.413732,-0.598789,0.395731
11,0.217874,bianca_andrade,-1.335340,0.5309,-0.167656,-0.718459,1.760777,-0.793069,5,0.204274,-0.258918,0.444765
12,-1.142354,flayslene,-1.339283,0.1764,-0.444062,0.746119,-0.194888,-0.901750,5,-1.097732,-0.820707,0.152177
13,0.673392,felipe_prior,-1.266309,0.2927,-0.354340,1.628649,-1.145978,1.506852,5,0.667008,-1.310870,0.262493
14,-0.008121,gizelly_bicalho,-0.152104,0.0064,-0.326546,-1.657792,0.103645,-1.425415,6,-0.732017,2.043195,0.182338
15,-0.683245,guilherme,1.633704,0.5607,-0.444706,1.887461,-1.761684,0.651485,6,0.008504,-1.229993,0.375980
16,0.440277,pyong,0.978436,0.4329,0.747726,1.065236,-1.392274,0.585963,6,0.497064,-0.428713,0.317546
17,0.904525,babu,-0.268512,0.0460,-0.245379,-0.431152,-0.805217,0.544082,7,0.283412,1.086410,0.225264
18,0.165291,manu_gavassi,-0.623496,0.1018,3.348856,-1.213874,0.261504,-0.476042,7,-0.054596,1.372279,-0.102492
19,-1.320905,victor_hugo,-0.570611,0.8522,-0.524663,0.142213,0.462487,-0.256007,7,-0.455266,-0.489664,0.345441
20,0.180618,babu,0.360970,0.4771,-0.245379,0.473895,-0.870930,-0.143736,8,-0.213141,-0.022954,0.235758
21,-1.093434,rafa,0.233296,0.0059,-0.274006,1.409021,-1.524441,-0.395749,8,-0.996091,-0.778607,0.163332
22,0.661727,pyong,1.197860,0.5170,0.747726,0.254343,0.119933,0.351518,8,0.982782,-0.404069,0.596171
23,0.090996,daniel,1.272211,0.8082,-0.507169,0.174935,0.289477,0.323595,9,0.533047,-0.415967,0.681158
24,0.258158,flayslene,-0.583566,0.0954,-0.444062,0.136623,-0.782390,-0.075742,9,-0.322562,0.347739,0.226039
25,-0.600243,ivy,0.719771,0.0964,-0.484491,0.073869,0.100925,-0.435820,9,-0.436934,-0.161435,0.407301
26,1.735802,manu_gavassi,1.227212,0.4251,3.760466,-1.130995,2.299866,0.511881,10,1.502096,-0.092823,0.512538
27,-1.540103,mari,-0.227832,0.0076,-0.295329,-0.571572,0.214207,-1.394431,10,-1.793601,0.585417,0.099159
28,-0.446787,felipe_prior,2.169433,0.5673,0.039823,0.369842,0.953104,0.694583,10,0.065055,-1.106925,0.647857