# Experimentos baseados em regressão linear

- Utilizando cada paredão como teste e avaliando com holdout.

In [1]:
import pandas as pd 
import numpy as np 
from regression_utils import *
from sklearn.linear_model import LinearRegression

In [2]:
NORMALIZE = True
REMOVE = ["positivos", "neutros", "negativos", "likes", "retweets", "day2", "day3"]

In [3]:
summary_df = pd.DataFrame(columns=set(COLUMNS) - set(REMOVE))

# Paredao 1

In [4]:
train_df, test_df, mean, std = get_train_test(1, normalize=NORMALIZE, drop_columns=REMOVE)

In [5]:
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
27,1,bianca_andrade,1.760213,0.782335,-1.765358,1.127379,-0.123880,-0.853315,-1.165688,-0.155647,-0.348113,-0.562159,-0.350110
28,1,lucas_chumbo,-0.860039,0.390775,0.451964,1.399946,2.481716,2.827485,-0.088057,-0.530422,-0.442702,-0.486207,1.482096

In [6]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [7]:
regressor = LinearRegression()

In [8]:
_ = regressor.fit(x_train, y_train)

In [9]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [10]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
28,1,lucas_chumbo,-0.860039,0.390775,0.451964,1.399946,2.481716,2.827485,-0.088057,-0.530422,-0.442702,-0.486207,0.7594,0.872201
27,1,bianca_andrade,1.760213,0.782335,-1.765358,1.127379,-0.123880,-0.853315,-1.165688,-0.155647,-0.348113,-0.562159,0.2446,0.079102

# Paredao 2

In [11]:
train_df, test_df, mean, std = get_train_test(2, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
23,2,babu,0.890591,1.333317,-1.391138,-2.212067,-2.162532,-1.973631,-1.181174,-0.236752,-0.447320,-0.557600,-1.204998
24,2,petrix,-1.307976,0.131512,0.933172,-0.209687,0.781232,0.793959,1.436304,-0.520675,-0.443071,0.004644,1.636204
25,2,pyong,2.510627,-0.329952,-1.750027,0.089578,-1.335029,-1.545743,-0.740116,0.799562,-0.400396,-0.559212,-1.197168
26,2,hadson,-1.289734,-0.483414,1.245799,-0.654661,-0.070206,0.392304,0.071517,-0.532116,-0.450091,-0.326964,-0.557604

In [12]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [13]:
regressor = LinearRegression()

In [14]:
_ = regressor.fit(x_train, y_train)

In [15]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [16]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
24,2,petrix,-1.307976,0.131512,0.933172,-0.209687,0.781232,0.793959,1.436304,-0.520675,-0.443071,0.004644,0.8027,0.732089
26,2,hadson,-1.289734,-0.483414,1.245799,-0.654661,-0.070206,0.392304,0.071517,-0.532116,-0.450091,-0.326964,0.1863,0.448729
23,2,babu,0.890591,1.333317,-1.391138,-2.212067,-2.162532,-1.973631,-1.181174,-0.236752,-0.447320,-0.557600,0.0044,0.166767
25,2,pyong,2.510627,-0.329952,-1.750027,0.089578,-1.335029,-1.545743,-0.740116,0.799562,-0.400396,-0.559212,0.0066,-0.168457

# Paredao 3

In [17]:
train_df, test_df, mean, std = get_train_test(3, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
9,3,felipe_prior,0.608409,0.740371,-0.859805,1.637106,0.648507,0.789036,-1.465908,-0.350454,-0.433095,-0.561214,-0.498523
10,3,hadson,-0.430622,2.152249,-0.812936,0.890219,1.709329,1.185134,-1.417157,-0.532116,-0.448614,-0.486986,1.616273

In [18]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [19]:
regressor = LinearRegression()

In [20]:
_ = regressor.fit(x_train, y_train)

In [21]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [22]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
10,3,hadson,-0.430622,2.152249,-0.812936,0.890219,1.709329,1.185134,-1.417157,-0.532116,-0.448614,-0.486986,0.7971,0.790585
9,3,felipe_prior,0.608409,0.740371,-0.859805,1.637106,0.648507,0.789036,-1.465908,-0.350454,-0.433095,-0.561214,0.2029,0.209649

# Paredao 4

In [23]:
train_df, test_df, mean, std = get_train_test(4, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
32,4,babu,-0.746873,-0.735772,0.963544,-0.255072,-0.138660,-0.018326,-0.374066,-0.236752,-0.429400,-0.547925,-1.174390
33,4,victor_hugo,-0.157538,0.746768,-0.275835,-1.719076,-1.546027,-1.588093,-1.102216,-0.528187,-0.445103,-0.533747,0.063453
34,4,lucas,-0.583996,-0.857511,0.903302,1.744391,1.470338,1.426949,0.515060,-0.519498,-0.414251,-0.234499,1.008029

In [24]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [25]:
regressor = LinearRegression()

In [26]:
_ = regressor.fit(x_train, y_train)

In [27]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [28]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
34,4,lucas,-0.583996,-0.857511,0.903302,1.744391,1.470338,1.426949,0.515060,-0.519498,-0.414251,-0.234499,0.6262,0.444908
32,4,babu,-0.746873,-0.735772,0.963544,-0.255072,-0.138660,-0.018326,-0.374066,-0.236752,-0.429400,-0.547925,0.0130,0.305041
33,4,victor_hugo,-0.157538,0.746768,-0.275835,-1.719076,-1.546027,-1.588093,-1.102216,-0.528187,-0.445103,-0.533747,0.3608,0.234123

# Paredao 5

In [29]:
train_df, test_df, mean, std = get_train_test(5, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
3,5,bianca_andrade,-0.236119,1.833184,-0.792621,0.225234,0.218183,-0.822599,-1.411103,-0.155647,-0.342202,-0.458796,0.668850
4,5,flayslene,-0.811141,-0.094344,0.672135,-1.136120,-1.129786,-0.936095,-1.415117,-0.444079,-0.402243,-0.405752,-0.592838
5,5,felipe_prior,-1.312849,-1.031750,1.554772,0.681129,0.697254,1.579224,-1.340811,-0.350454,-0.307101,-0.172392,-0.178919

In [30]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [31]:
regressor = LinearRegression()

In [32]:
_ = regressor.fit(x_train, y_train)

In [33]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [34]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
3,5,bianca_andrade,-0.236119,1.833184,-0.792621,0.225234,0.218183,-0.822599,-1.411103,-0.155647,-0.342202,-0.458796,0.5309,0.500111
5,5,felipe_prior,-1.312849,-1.031750,1.554772,0.681129,0.697254,1.579224,-1.340811,-0.350454,-0.307101,-0.172392,0.2927,0.290634
4,5,flayslene,-0.811141,-0.094344,0.672135,-1.136120,-1.129786,-0.936095,-1.415117,-0.444079,-0.402243,-0.405752,0.1764,0.212648

# Paredao 6

In [35]:
train_df, test_df, mean, std = get_train_test(6, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
0,6,gizelly_bicalho,2.120218,0.199894,-1.732067,-0.000947,-0.751161,-1.482962,-0.206271,-0.321450,-0.205492,-0.541698,-1.197879
1,6,guilherme,-1.230067,-1.638597,1.813615,-0.676631,0.015503,0.685959,1.612128,-0.444751,-0.409448,0.946034,0.774910
2,6,pyong,-0.409914,-1.274502,0.991291,0.447822,0.521310,0.617533,0.944902,0.799562,-0.106470,0.262857,0.320062

In [36]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [37]:
regressor = LinearRegression()

In [38]:
_ = regressor.fit(x_train, y_train)

In [39]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [40]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
1,6,guilherme,-1.230067,-1.638597,1.813615,-0.676631,0.015503,0.685959,1.612128,-0.444751,-0.409448,0.946034,0.5607,0.472048
2,6,pyong,-0.409914,-1.274502,0.991291,0.447822,0.521310,0.617533,0.944902,0.799562,-0.106470,0.262857,0.4329,0.313168
0,6,gizelly_bicalho,2.120218,0.199894,-1.732067,-0.000947,-0.751161,-1.482962,-0.206271,-0.321450,-0.205492,-0.541698,0.0064,0.295844

# Paredao 7

In [41]:
train_df, test_df, mean, std = get_train_test(7, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
6,7,babu,1.140897,-0.695892,-0.505279,0.912454,0.300116,0.573797,-0.324804,-0.236752,-0.160784,-0.553763,-1.056940
7,7,manu_gavassi,1.433499,0.355482,-1.288095,0.172608,-0.049825,-0.491526,-0.686266,3.513863,-0.117739,-0.541864,-0.858345
8,7,victor_hugo,-0.472300,0.553573,0.068156,-1.314819,-0.464639,-0.261741,-0.632417,-0.528187,-0.446027,-0.427937,1.812377

In [42]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [43]:
regressor = LinearRegression()

In [44]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [45]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
8,7,victor_hugo,-0.472300,0.553573,0.068156,-1.314819,-0.464639,-0.261741,-0.632417,-0.528187,-0.446027,-0.427937,0.8522,0.377138
7,7,manu_gavassi,1.433499,0.355482,-1.288095,0.172608,-0.049825,-0.491526,-0.686266,3.513863,-0.117739,-0.541864,0.1018,0.264711
6,7,babu,1.140897,-0.695892,-0.505279,0.912454,0.300116,0.573797,-0.324804,-0.236752,-0.160784,-0.553763,0.0460,0.190101

# Paredao 8

In [46]:
train_df, test_df, mean, std = get_train_test(8, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
17,8,babu,0.005403,-0.760660,0.399878,0.187947,-0.213966,-0.144496,0.316166,-0.236752,0.426328,0.521182,0.477372
18,8,rafa,-0.768049,-1.404768,1.335118,-1.087159,-1.024557,-0.407675,0.186162,-0.266624,0.099334,-0.541030,-1.199659
19,8,pyong,-0.384689,0.215948,0.180299,0.669455,1.024174,0.372701,1.168330,0.799562,0.076795,0.967719,0.619379

In [47]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [48]:
regressor = LinearRegression()

In [49]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [50]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
19,8,pyong,-0.384689,0.215948,0.180299,0.669455,1.024174,0.372701,1.168330,0.799562,0.076795,0.967719,0.5170,0.705639
17,8,babu,0.005403,-0.760660,0.399878,0.187947,-0.213966,-0.144496,0.316166,-0.236752,0.426328,0.521182,0.4771,0.219217
18,8,rafa,-0.768049,-1.404768,1.335118,-1.087159,-1.024557,-0.407675,0.186162,-0.266624,0.099334,-0.541030,0.0059,0.070169

# Paredão 9

In [51]:
train_df, test_df, mean, std = get_train_test(9, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
14,9,daniel,-0.396867,0.383052,0.100882,0.098251,0.558563,0.343541,1.244038,-0.509932,-0.431617,0.524796,1.655779
15,9,flayslene,0.384827,-0.673393,0.062565,0.265552,-0.327251,-0.073490,-0.645608,-0.444079,-0.078020,-0.508003,-0.881123
16,9,ivy,-0.136340,0.197213,-0.000197,-0.593560,-0.445660,-0.449521,0.681516,-0.486267,-0.441409,-0.395855,-0.877564

In [52]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [53]:
regressor = LinearRegression()

In [54]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [55]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
14,9,daniel,-0.396867,0.383052,0.100882,0.098251,0.558563,0.343541,1.244038,-0.509932,-0.431617,0.524796,0.8082,0.720480
16,9,ivy,-0.136340,0.197213,-0.000197,-0.593560,-0.445660,-0.449521,0.681516,-0.486267,-0.441409,-0.395855,0.0964,0.417504
15,9,flayslene,0.384827,-0.673393,0.062565,0.265552,-0.327251,-0.073490,-0.645608,-0.444079,-0.078020,-0.508003,0.0954,0.197910

# Paredão 10

In [56]:
train_df, test_df, mean, std = get_train_test(10, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
11,10,manu_gavassi,-0.066112,2.364516,-1.205206,1.744419,1.561821,0.540169,1.198218,3.943382,5.100506,1.671690,0.292301
12,10,mari,0.628104,0.308865,-0.645715,-1.534199,-1.850220,-1.450605,-0.283381,-0.288875,0.096378,-0.381732,-1.193609
13,10,felipe_prior,-1.104100,1.037131,0.295813,-0.439977,0.074050,0.730966,2.157635,0.060859,1.861226,4.739063,0.798400

In [57]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [58]:
regressor = LinearRegression()

In [59]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [60]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
13,10,felipe_prior,-1.104100,1.037131,0.295813,-0.439977,0.074050,0.730966,2.157635,0.060859,1.861226,4.739063,0.5673,1.406676
12,10,mari,0.628104,0.308865,-0.645715,-1.534199,-1.850220,-1.450605,-0.283381,-0.288875,0.096378,-0.381732,0.0076,0.053122
11,10,manu_gavassi,-0.066112,2.364516,-1.205206,1.744419,1.561821,0.540169,1.198218,3.943382,5.100506,1.671690,0.4251,-0.207356

# Paredao 11

In [61]:
train_df, test_df, mean, std = get_train_test(11, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
29,11,babu,1.000549,-0.519367,-0.491413,0.218872,-0.121741,-0.013856,0.645765,0.057031,0.347258,-0.490822,-1.074380
30,11,gabi,0.877044,-0.563311,-0.373363,-0.326453,-0.527219,-0.304776,0.462740,-0.318823,-0.316153,0.309674,0.900901
31,11,thelma,0.269662,0.464730,-0.453631,-0.122176,0.434611,0.139162,0.195148,-0.180823,0.837012,-0.279425,0.070571

In [62]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [63]:
regressor = LinearRegression()

In [64]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [65]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
31,11,thelma,0.269662,0.464730,-0.453631,-0.122176,0.434611,0.139162,0.195148,-0.180823,0.837012,-0.279425,0.3628,0.530656
30,11,gabi,0.877044,-0.563311,-0.373363,-0.326453,-0.527219,-0.304776,0.462740,-0.318823,-0.316153,0.309674,0.5961,0.290386
29,11,babu,1.000549,-0.519367,-0.491413,0.218872,-0.121741,-0.013856,0.645765,0.057031,0.347258,-0.490822,0.0411,0.260296

# Paredão 12

In [66]:
train_df, test_df, mean, std = get_train_test(12, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
20,12,babu,0.494118,-0.727858,0.007684,1.143862,0.582895,0.030109,-0.172942,0.057031,0.083261,-0.501442,-1.182931
21,12,flayslene,-0.359413,-1.491943,1.068057,-0.097247,-0.160261,0.185253,1.123338,-0.359394,-0.089658,0.232666,0.529690
22,12,marcela,-1.059426,-0.907884,1.294642,-1.276371,-0.636983,-0.394832,0.694134,-0.315344,-0.371576,0.876699,0.550333

In [67]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [68]:
regressor = LinearRegression()

In [69]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [70]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
22,12,marcela,-1.059426,-0.907884,1.294642,-1.276371,-0.636983,-0.394832,0.694134,-0.315344,-0.371576,0.876699,0.4976,0.475495
20,12,babu,0.494118,-0.727858,0.007684,1.143862,0.582895,0.030109,-0.172942,0.057031,0.083261,-0.501442,0.0106,0.318567
21,12,flayslene,-0.359413,-1.491943,1.068057,-0.097247,-0.160261,0.185253,1.123338,-0.359394,-0.089658,0.232666,0.4918,0.281578

# Sumarizando

In [74]:
summary_df = summary_df[["paredao", "nome", "rejeicao", "predicao"]]
summary_df["erro_absoluto"] = abs(summary_df["rejeicao"] - summary_df["predicao"])
summary_df.sort_values(by="erro_absoluto")

   paredao             nome  rejeicao  predicao  erro_absoluto
13       5     felipe_prior    0.2927  0.290634       0.002066
7        3           hadson    0.7971  0.790585       0.006515
6        3     felipe_prior    0.2029  0.209649       0.006749
34      12          marcela    0.4976  0.475495       0.022105
11       5   bianca_andrade    0.5309  0.500111       0.030789
12       5        flayslene    0.1764  0.212648       0.036248
27      10             mari    0.0076  0.053122       0.045522
21       8             rafa    0.0059  0.070169       0.064269
3        2           petrix    0.8027  0.732089       0.070611
23       9           daniel    0.8082  0.720480       0.087720
15       6        guilherme    0.5607  0.472048       0.088652
24       9        flayslene    0.0954  0.197910       0.102510
1        1     lucas_chumbo    0.7594  0.872201       0.112801
16       6            pyong    0.4329  0.313168       0.119732
9        4      victor_hugo    0.3608  0.234123       0.126677
17       7             babu    0.0460  0.190101       0.144101
2        2             babu    0.0044  0.166767       0.162367
18       7     manu_gavassi    0.1018  0.264711       0.162911
0        1   bianca_andrade    0.2446  0.079102       0.165498
31      11           thelma    0.3628  0.530656       0.167856
4        2            pyong    0.0066 -0.168457       0.175057
10       4            lucas    0.6262  0.444908       0.181292
22       8            pyong    0.5170  0.705639       0.188639
33      12        flayslene    0.4918  0.281578       0.210222
29      11             babu    0.0411  0.260296       0.219196
20       8             babu    0.4771  0.219217       0.257883
5        2           hadson    0.1863  0.448729       0.262429
14       6  gizelly_bicalho    0.0064  0.295844       0.289444
8        4             babu    0.0130  0.305041       0.292041
30      11             gabi    0.5961  0.290386       0.305714
32      12             babu    0.0106  0.318567       0.307967
25       9              ivy    0.0964  0.417504       0.321104
19       7      victor_hugo    0.8522  0.377138       0.475062
26      10     manu_gavassi    0.4251 -0.207356       0.632456
28      10     felipe_prior    0.5673  1.406676       0.839376