# Experimentos baseados em regressão linear

- Utilizando cada paredão como teste e avaliando com holdout.

In [1]:
import pandas as pd 
import numpy as np 
from regression_utils import *
from sklearn.linear_model import LinearRegression

In [2]:
NORMALIZE = True
REMOVE = ["positivos", "neutros", "negativos", "likes", "retweets", "day2", "day3"]

In [3]:
summary_df = pd.DataFrame(columns=set(COLUMNS) - set(REMOVE))

# Paredao 1

In [4]:
train_df, test_df, mean, std = get_train_test(1, normalize=NORMALIZE, drop_columns=REMOVE)

In [5]:
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
24,1,bianca_andrade,1.691474,0.694588,-1.691078,1.119272,-0.126126,-0.822482,-1.094324,-0.167656,-0.344478,-0.52713,-0.347670
25,1,lucas_chumbo,-0.868480,0.297313,0.525974,1.391614,2.390624,2.702153,-0.036008,-0.526805,-0.435007,-0.45342,1.455205

In [6]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [7]:
regressor = LinearRegression()

In [8]:
_ = regressor.fit(x_train, y_train)

In [9]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [10]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
25,1,lucas_chumbo,-0.868480,0.297313,0.525974,1.391614,2.390624,2.702153,-0.036008,-0.526805,-0.435007,-0.45342,0.7594,0.827728
24,1,bianca_andrade,1.691474,0.694588,-1.691078,1.119272,-0.126126,-0.822482,-1.094324,-0.167656,-0.344478,-0.52713,0.2446,0.166145

# Paredao 2

In [11]:
train_df, test_df, mean, std = get_train_test(2, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
20,2,babu,0.841864,1.253614,-1.316904,-2.217411,-2.095263,-1.895266,-1.109533,-0.245379,-0.439427,-0.522705,-1.188871
21,2,petrix,-1.306109,0.034264,1.007125,-0.216688,0.748123,0.754903,1.461031,-0.517464,-0.435361,0.022943,1.606845
22,2,pyong,2.424619,-0.433936,-1.675749,0.082330,-1.295977,-1.485532,-0.676380,0.747726,-0.394517,-0.524270,-1.181167
23,2,hadson,-1.288287,-0.589637,1.319713,-0.661293,-0.074282,0.370290,0.120705,-0.528428,-0.442080,-0.298877,-0.551841

In [12]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [13]:
regressor = LinearRegression()

In [14]:
_ = regressor.fit(x_train, y_train)

In [15]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [16]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
21,2,petrix,-1.306109,0.034264,1.007125,-0.216688,0.748123,0.754903,1.461031,-0.517464,-0.435361,0.022943,0.8027,0.683305
23,2,hadson,-1.288287,-0.589637,1.319713,-0.661293,-0.074282,0.370290,0.120705,-0.528428,-0.442080,-0.298877,0.1863,0.418595
20,2,babu,0.841864,1.253614,-1.316904,-2.217411,-2.095263,-1.895266,-1.109533,-0.245379,-0.439427,-0.522705,0.0044,0.126853
22,2,pyong,2.424619,-0.433936,-1.675749,0.082330,-1.295977,-1.485532,-0.676380,0.747726,-0.394517,-0.524270,0.0066,-0.154504

# Paredao 3

In [17]:
train_df, test_df, mean, std = get_train_test(3, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
9,3,felipe_prior,0.566176,0.652012,-0.785636,1.628578,0.619924,0.750190,-1.389163,-0.354340,-0.425813,-0.526213,-0.493707
10,3,hadson,-0.448945,2.084500,-0.738772,0.882308,1.644574,1.129482,-1.341286,-0.528428,-0.440665,-0.454175,1.587234

In [18]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [19]:
regressor = LinearRegression()

In [20]:
_ = regressor.fit(x_train, y_train)

In [21]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [22]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
10,3,hadson,-0.448945,2.084500,-0.738772,0.882308,1.644574,1.129482,-1.341286,-0.528428,-0.440665,-0.454175,0.7971,0.837403
9,3,felipe_prior,0.566176,0.652012,-0.785636,1.628578,0.619924,0.750190,-1.389163,-0.354340,-0.425813,-0.526213,0.2029,0.209030

# Paredao 4

In [23]:
train_df, test_df, mean, std = get_train_test(4, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
29,4,babu,-0.757918,-0.845679,1.037492,-0.262035,-0.140402,-0.022919,-0.316891,-0.245379,-0.422277,-0.513316,-1.158753
30,4,victor_hugo,-0.182145,0.658502,-0.201736,-1.724828,-1.499780,-1.526085,-1.031990,-0.524663,-0.437306,-0.499556,0.059273
31,4,lucas,-0.598789,-0.969196,0.977258,1.735774,1.413732,1.361037,0.556299,-0.516336,-0.407778,-0.209141,0.988727

In [24]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [25]:
regressor = LinearRegression()

In [26]:
_ = regressor.fit(x_train, y_train)

In [27]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [28]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
31,4,lucas,-0.598789,-0.969196,0.977258,1.735774,1.413732,1.361037,0.556299,-0.516336,-0.407778,-0.209141,0.6262,0.461952
29,4,babu,-0.757918,-0.845679,1.037492,-0.262035,-0.140402,-0.022919,-0.316891,-0.245379,-0.422277,-0.513316,0.0130,0.320967
30,4,victor_hugo,-0.182145,0.658502,-0.201736,-1.724828,-1.499780,-1.526085,-1.031990,-0.524663,-0.437306,-0.499556,0.3608,0.233733

# Paredao 5

In [29]:
train_df, test_df, mean, std = get_train_test(5, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
3,5,bianca_andrade,-0.258918,1.760777,-0.718459,0.217874,0.204274,-0.793069,-1.335340,-0.167656,-0.338820,-0.426817,0.654978
4,5,flayslene,-0.820707,-0.194888,0.746119,-1.142354,-1.097732,-0.901750,-1.339283,-0.444062,-0.396285,-0.375339,-0.586512
5,5,felipe_prior,-1.310870,-1.145978,1.628649,0.673392,0.667008,1.506852,-1.266309,-0.354340,-0.305226,-0.148867,-0.179219

In [30]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [31]:
regressor = LinearRegression()

In [32]:
_ = regressor.fit(x_train, y_train)

In [33]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [34]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
3,5,bianca_andrade,-0.258918,1.760777,-0.718459,0.217874,0.204274,-0.793069,-1.335340,-0.167656,-0.338820,-0.426817,0.5309,0.588286
5,5,felipe_prior,-1.310870,-1.145978,1.628649,0.673392,0.667008,1.506852,-1.266309,-0.354340,-0.305226,-0.148867,0.2927,0.319859
4,5,flayslene,-0.820707,-0.194888,0.746119,-1.142354,-1.097732,-0.901750,-1.339283,-0.444062,-0.396285,-0.375339,0.1764,0.248642

# Paredao 6

In [35]:
train_df, test_df, mean, std = get_train_test(6, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
0,6,gizelly_bicalho,2.043195,0.103645,-1.657792,-0.008121,-0.732017,-1.425415,-0.152104,-0.326546,-0.207978,-0.507272,-1.181867
1,6,guilherme,-1.229993,-1.761684,1.887461,-0.683245,0.008504,0.651485,1.633704,-0.444706,-0.403181,0.936548,0.759340
2,6,pyong,-0.428713,-1.392274,1.065236,0.440277,0.497064,0.585963,0.978436,0.747726,-0.113205,0.273536,0.311773

In [36]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [37]:
regressor = LinearRegression()

In [38]:
_ = regressor.fit(x_train, y_train)

In [39]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [40]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
1,6,guilherme,-1.229993,-1.761684,1.887461,-0.683245,0.008504,0.651485,1.633704,-0.444706,-0.403181,0.936548,0.5607,0.454395
2,6,pyong,-0.428713,-1.392274,1.065236,0.440277,0.497064,0.585963,0.978436,0.747726,-0.113205,0.273536,0.4329,0.344099
0,6,gizelly_bicalho,2.043195,0.103645,-1.657792,-0.008121,-0.732017,-1.425415,-0.152104,-0.326546,-0.207978,-0.507272,0.0064,0.320861

# Paredao 7

In [41]:
train_df, test_df, mean, std = get_train_test(7, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
6,7,babu,1.086410,-0.805217,-0.431152,0.904525,0.283412,0.544082,-0.268512,-0.245379,-0.165189,-0.518982,-1.043184
7,7,manu_gavassi,1.372279,0.261504,-1.213874,0.165291,-0.054596,-0.476042,-0.623496,3.348856,-0.123991,-0.507434,-0.847768
8,7,victor_hugo,-0.489664,0.462487,0.142213,-1.320905,-0.455266,-0.256007,-0.570611,-0.524663,-0.438190,-0.396869,1.780199

In [42]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [43]:
regressor = LinearRegression()

In [44]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [45]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
8,7,victor_hugo,-0.489664,0.462487,0.142213,-1.320905,-0.455266,-0.256007,-0.570611,-0.524663,-0.438190,-0.396869,0.8522,0.364139
7,7,manu_gavassi,1.372279,0.261504,-1.213874,0.165291,-0.054596,-0.476042,-0.623496,3.348856,-0.123991,-0.507434,0.1018,0.236300
6,7,babu,1.086410,-0.805217,-0.431152,0.904525,0.283412,0.544082,-0.268512,-0.245379,-0.165189,-0.518982,0.0460,0.204951

# Paredao 8

In [46]:
train_df, test_df, mean, std = get_train_test(8, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
17,8,babu,-0.022954,-0.870930,0.473895,0.180618,-0.213141,-0.143736,0.360970,-0.245379,0.396727,0.524236,0.466566
18,8,rafa,-0.778607,-1.524441,1.409021,-1.093434,-0.996091,-0.395749,0.233296,-0.274006,0.083766,-0.506625,-1.183618
19,8,pyong,-0.404069,0.119933,0.254343,0.661727,0.982782,0.351518,1.197860,0.747726,0.062194,0.957593,0.606299

In [47]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [48]:
regressor = LinearRegression()

In [49]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [50]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
19,8,pyong,-0.404069,0.119933,0.254343,0.661727,0.982782,0.351518,1.197860,0.747726,0.062194,0.957593,0.5170,0.730801
17,8,babu,-0.022954,-0.870930,0.473895,0.180618,-0.213141,-0.143736,0.360970,-0.245379,0.396727,0.524236,0.4771,0.236866
18,8,rafa,-0.778607,-1.524441,1.409021,-1.093434,-0.996091,-0.395749,0.233296,-0.274006,0.083766,-0.506625,0.0059,0.048889

# Paredão 9

In [51]:
train_df, test_df, mean, std = get_train_test(9, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
14,9,daniel,-0.415967,0.289477,0.174935,0.090996,0.533047,0.323595,1.272211,-0.507169,-0.424398,0.527744,1.626107
15,9,flayslene,0.347739,-0.782390,0.136623,0.258158,-0.322562,-0.075742,-0.583566,-0.444062,-0.085976,-0.474572,-0.870181
16,9,ivy,-0.161435,0.100925,0.073869,-0.600243,-0.436934,-0.435820,0.719771,-0.484491,-0.433769,-0.365734,-0.866679

In [52]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [53]:
regressor = LinearRegression()

In [54]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [55]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
14,9,daniel,-0.415967,0.289477,0.174935,0.090996,0.533047,0.323595,1.272211,-0.507169,-0.424398,0.527744,0.8082,0.653501
16,9,ivy,-0.161435,0.100925,0.073869,-0.600243,-0.436934,-0.435820,0.719771,-0.484491,-0.433769,-0.365734,0.0964,0.373398
15,9,flayslene,0.347739,-0.782390,0.136623,0.258158,-0.322562,-0.075742,-0.583566,-0.444062,-0.085976,-0.474572,0.0954,0.124912

# Paredão 10

In [56]:
train_df, test_df, mean, std = get_train_test(10, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
11,10,manu_gavassi,-0.092823,2.299866,-1.130995,1.735802,1.502096,0.511881,1.227212,3.760466,4.870303,1.640787,0.284457
12,10,mari,0.585417,0.214207,-0.571572,-1.540103,-1.793601,-1.394431,-0.227832,-0.295329,0.080937,-0.352028,-1.177665
13,10,felipe_prior,-1.106925,0.953104,0.369842,-0.446787,0.065055,0.694583,2.169433,0.039823,1.770043,4.617625,0.782454

In [57]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [58]:
regressor = LinearRegression()

In [59]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [60]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
13,10,felipe_prior,-1.106925,0.953104,0.369842,-0.446787,0.065055,0.694583,2.169433,0.039823,1.770043,4.617625,0.5673,1.566801
12,10,mari,0.585417,0.214207,-0.571572,-1.540103,-1.793601,-1.394431,-0.227832,-0.295329,0.080937,-0.352028,0.0076,0.006417
11,10,manu_gavassi,-0.092823,2.299866,-1.130995,1.735802,1.502096,0.511881,1.227212,3.760466,4.870303,1.640787,0.4251,-0.160436

# Paredao 11

In [61]:
train_df, test_df, mean, std = get_train_test(11, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
26,11,babu,0.949291,-0.626115,-0.417288,0.211517,-0.124059,-0.018638,0.684661,0.036155,0.321050,-0.457899,-1.060345
27,11,gabi,0.828629,-0.670701,-0.299252,-0.333357,-0.515712,-0.297216,0.504916,-0.324028,-0.313889,0.318971,0.883314
28,11,thelma,0.235224,0.372347,-0.379510,-0.129249,0.413322,0.127887,0.242121,-0.191782,0.789785,-0.252741,0.066277

In [62]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [63]:
regressor = LinearRegression()

In [64]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [65]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
28,11,thelma,0.235224,0.372347,-0.379510,-0.129249,0.413322,0.127887,0.242121,-0.191782,0.789785,-0.252741,0.3628,0.529986
27,11,gabi,0.828629,-0.670701,-0.299252,-0.333357,-0.515712,-0.297216,0.504916,-0.324028,-0.313889,0.318971,0.5961,0.256175
26,11,babu,0.949291,-0.626115,-0.417288,0.211517,-0.124059,-0.018638,0.684661,0.036155,0.321050,-0.457899,0.0411,0.178006

# Sumarizando

In [66]:
summary_df

,neutros_global_pct,positivos_individual_pct,positivos_global_pct,fora,rejeicao,neutros_individual_pct,negativos_global_pct,negativos_individual_pct,fica,paredao,day1,nome,seguidores,predicao
0,-0.126126,1.691474,1.119272,-0.527130,0.2446,0.694588,-0.822482,-1.691078,-0.344478,1,-1.094324,bianca_andrade,-0.167656,0.166145
1,2.390624,-0.868480,1.391614,-0.453420,0.7594,0.297313,2.702153,0.525974,-0.435007,1,-0.036008,lucas_chumbo,-0.526805,0.827728
2,-2.095263,0.841864,-2.217411,-0.522705,0.0044,1.253614,-1.895266,-1.316904,-0.439427,2,-1.109533,babu,-0.245379,0.126853
3,0.748123,-1.306109,-0.216688,0.022943,0.8027,0.034264,0.754903,1.007125,-0.435361,2,1.461031,petrix,-0.517464,0.683305
4,-1.295977,2.424619,0.082330,-0.524270,0.0066,-0.433936,-1.485532,-1.675749,-0.394517,2,-0.676380,pyong,0.747726,-0.154504
5,-0.074282,-1.288287,-0.661293,-0.298877,0.1863,-0.589637,0.370290,1.319713,-0.442080,2,0.120705,hadson,-0.528428,0.418595
6,0.619924,0.566176,1.628578,-0.526213,0.2029,0.652012,0.750190,-0.785636,-0.425813,3,-1.389163,felipe_prior,-0.354340,0.209030
7,1.644574,-0.448945,0.882308,-0.454175,0.7971,2.084500,1.129482,-0.738772,-0.440665,3,-1.341286,hadson,-0.528428,0.837403
8,-0.140402,-0.757918,-0.262035,-0.513316,0.0130,-0.845679,-0.022919,1.037492,-0.422277,4,-0.316891,babu,-0.245379,0.320967
9,-1.499780,-0.182145,-1.724828,-0.499556,0.3608,0.658502,-1.526085,-0.201736,-0.437306,4,-1.031990,victor_hugo,-0.524663,0.233733
10,1.413732,-0.598789,1.735774,-0.209141,0.6262,-0.969196,1.361037,0.977258,-0.407778,4,0.556299,lucas,-0.516336,0.461952
11,0.204274,-0.258918,0.217874,-0.426817,0.5309,1.760777,-0.793069,-0.718459,-0.338820,5,-1.335340,bianca_andrade,-0.167656,0.588286
12,-1.097732,-0.820707,-1.142354,-0.375339,0.1764,-0.194888,-0.901750,0.746119,-0.396285,5,-1.339283,flayslene,-0.444062,0.248642
13,0.667008,-1.310870,0.673392,-0.148867,0.2927,-1.145978,1.506852,1.628649,-0.305226,5,-1.266309,felipe_prior,-0.354340,0.319859
14,-0.732017,2.043195,-0.008121,-0.507272,0.0064,0.103645,-1.425415,-1.657792,-0.207978,6,-0.152104,gizelly_bicalho,-0.326546,0.320861
15,0.008504,-1.229993,-0.683245,0.936548,0.5607,-1.761684,0.651485,1.887461,-0.403181,6,1.633704,guilherme,-0.444706,0.454395
16,0.497064,-0.428713,0.440277,0.273536,0.4329,-1.392274,0.585963,1.065236,-0.113205,6,0.978436,pyong,0.747726,0.344099
17,0.283412,1.086410,0.904525,-0.518982,0.0460,-0.805217,0.544082,-0.431152,-0.165189,7,-0.268512,babu,-0.245379,0.204951
18,-0.054596,1.372279,0.165291,-0.507434,0.1018,0.261504,-0.476042,-1.213874,-0.123991,7,-0.623496,manu_gavassi,3.348856,0.236300
19,-0.455266,-0.489664,-1.320905,-0.396869,0.8522,0.462487,-0.256007,0.142213,-0.438190,7,-0.570611,victor_hugo,-0.524663,0.364139
20,-0.213141,-0.022954,0.180618,0.524236,0.4771,-0.870930,-0.143736,0.473895,0.396727,8,0.360970,babu,-0.245379,0.236866
21,-0.996091,-0.778607,-1.093434,-0.506625,0.0059,-1.524441,-0.395749,1.409021,0.083766,8,0.233296,rafa,-0.274006,0.048889
22,0.982782,-0.404069,0.661727,0.957593,0.5170,0.119933,0.351518,0.254343,0.062194,8,1.197860,pyong,0.747726,0.730801
23,0.533047,-0.415967,0.090996,0.527744,0.8082,0.289477,0.323595,0.174935,-0.424398,9,1.272211,daniel,-0.507169,0.653501
24,-0.322562,0.347739,0.258158,-0.474572,0.0954,-0.782390,-0.075742,0.136623,-0.085976,9,-0.583566,flayslene,-0.444062,0.124912
25,-0.436934,-0.161435,-0.600243,-0.365734,0.0964,0.100925,-0.435820,0.073869,-0.433769,9,0.719771,ivy,-0.484491,0.373398
26,1.502096,-0.092823,1.735802,1.640787,0.4251,2.299866,0.511881,-1.130995,4.870303,10,1.227212,manu_gavassi,3.760466,-0.160436
27,-1.793601,0.585417,-1.540103,-0.352028,0.0076,0.214207,-1.394431,-0.571572,0.080937,10,-0.227832,mari,-0.295329,0.006417
28,0.065055,-1.106925,-0.446787,4.617625,0.5673,0.953104,0.694583,0.369842,1.770043,10,2.169433,felipe_prior,0.039823,1.566801
29,-0.124059,0.949291,0.211517,-0.457899,0.0411,-0.626115,-0.018638,-0.417288,0.321050,11,0.684661,babu,0.036155,0.178006
30,-0.515712,0.828629,-0.333357,0.318971,0.5961,-0.670701,-0.297216,-0.299252,-0.313889,11,0.504916,gabi,-0.324028,0.256175
31,0.413322,0.235224,-0.129249,-0.252741,0.3628,0.372347,0.127887,-0.379510,0.789785,11,0.242121,thelma,-0.191782,0.529986