# Experimentos baseados em regressão linear

- Utilizando cada paredão como teste e avaliando com holdout.

In [1]:
import pandas as pd 
import numpy as np 
from regression_utils import *
from sklearn.linear_model import LinearRegression

In [2]:
NORMALIZE = True
REMOVE = []

In [3]:
summary_df = pd.DataFrame(columns=set(COLUMNS) - set(REMOVE))

# Paredao 1

In [4]:
train_df, test_df, mean, std = get_train_test(1, normalize=NORMALIZE, drop_columns=REMOVE)

In [5]:
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
24,1,bianca_andrade,-0.764653,-0.687151,-0.991063,1.691474,0.694588,-1.691078,1.119272,-0.126126,-0.822482,-1.094324,-0.743429,-0.586597,-0.874608,-0.869489,-0.167656,-0.347670
25,1,lucas_chumbo,-0.737221,-0.473612,-0.575669,-0.868480,0.297313,0.525974,1.391614,2.390624,2.702153,-0.036008,-0.755088,-0.582931,-0.709855,-0.610597,-0.526805,1.455205

In [6]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [7]:
regressor = LinearRegression()

In [8]:
_ = regressor.fit(x_train, y_train)

In [9]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [10]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
25,1,lucas_chumbo,-0.737221,-0.473612,-0.575669,-0.868480,0.297313,0.525974,1.391614,2.390624,2.702153,-0.036008,-0.755088,-0.582931,-0.709855,-0.610597,-0.526805,0.7594,1.042913
24,1,bianca_andrade,-0.764653,-0.687151,-0.991063,1.691474,0.694588,-1.691078,1.119272,-0.126126,-0.822482,-1.094324,-0.743429,-0.586597,-0.874608,-0.869489,-0.167656,0.2446,-0.028511

# Paredao 2

In [11]:
train_df, test_df, mean, std = get_train_test(2, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
20,2,babu,-0.862961,-0.694095,-0.988723,0.841864,1.253614,-1.316904,-2.217411,-2.095263,-1.895266,-1.109533,-0.740144,-0.659565,-0.934305,-0.870147,-0.245379,-1.188871
21,2,petrix,0.212150,0.697860,1.303452,-1.306109,0.034264,1.007125,-0.216688,0.748123,0.754903,1.461031,0.969403,-0.132466,0.792470,1.608845,-0.517464,1.606845
22,2,pyong,0.372831,-0.302812,-0.634337,2.424619,-0.433936,-1.675749,0.082330,-1.295977,-1.485532,-0.676380,-0.079311,-0.329548,0.064725,0.163253,0.747726,-1.181167
23,2,hadson,-0.026763,0.295259,0.970794,-1.288287,-0.589637,1.319713,-0.661293,-0.074282,0.370290,0.120705,1.077618,-0.387109,0.399386,0.942679,-0.528428,-0.551841

In [12]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [13]:
regressor = LinearRegression()

In [14]:
_ = regressor.fit(x_train, y_train)

In [15]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [16]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
20,2,babu,-0.862961,-0.694095,-0.988723,0.841864,1.253614,-1.316904,-2.217411,-2.095263,-1.895266,-1.109533,-0.740144,-0.659565,-0.934305,-0.870147,-0.245379,0.0044,0.090817
21,2,petrix,0.212150,0.697860,1.303452,-1.306109,0.034264,1.007125,-0.216688,0.748123,0.754903,1.461031,0.969403,-0.132466,0.792470,1.608845,-0.517464,0.8027,0.034876
22,2,pyong,0.372831,-0.302812,-0.634337,2.424619,-0.433936,-1.675749,0.082330,-1.295977,-1.485532,-0.676380,-0.079311,-0.329548,0.064725,0.163253,0.747726,0.0066,-0.273731
23,2,hadson,-0.026763,0.295259,0.970794,-1.288287,-0.589637,1.319713,-0.661293,-0.074282,0.370290,0.120705,1.077618,-0.387109,0.399386,0.942679,-0.528428,0.1863,-0.577521

# Paredao 3

In [17]:
train_df, test_df, mean, std = get_train_test(3, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
9,3,felipe_prior,-0.939202,-0.745581,-1.000737,0.566176,0.652012,-0.785636,1.628578,0.619924,0.750190,-1.389163,-0.726973,-0.581098,-0.857558,-0.787787,-0.354340,-0.493707
10,3,hadson,-0.975982,-0.698737,-0.982286,-0.448945,2.084500,-0.738772,0.882308,1.644574,1.129482,-1.341286,-0.725083,-0.559105,-0.990926,-0.925952,-0.528428,1.587234

In [18]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [19]:
regressor = LinearRegression()

In [20]:
_ = regressor.fit(x_train, y_train)

In [21]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [22]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
10,3,hadson,-0.975982,-0.698737,-0.982286,-0.448945,2.084500,-0.738772,0.882308,1.644574,1.129482,-1.341286,-0.725083,-0.559105,-0.990926,-0.925952,-0.528428,0.7971,0.850779
9,3,felipe_prior,-0.939202,-0.745581,-1.000737,0.566176,0.652012,-0.785636,1.628578,0.619924,0.750190,-1.389163,-0.726973,-0.581098,-0.857558,-0.787787,-0.354340,0.2029,0.217177

# Paredao 4

In [23]:
train_df, test_df, mean, std = get_train_test(4, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
29,4,babu,-0.637150,-0.472922,-0.404503,-0.757918,-0.845679,1.037492,-0.262035,-0.140402,-0.022919,-0.316891,-0.464257,-0.571648,-0.743518,-0.768231,-0.245379,-1.158753
30,4,victor_hugo,-0.940505,-0.712856,-0.943591,-0.182145,0.658502,-0.201736,-1.724828,-1.499780,-1.526085,-1.031990,-0.792100,-0.647881,-0.968507,-0.918898,-0.524663,0.059273
31,4,lucas,-0.222844,-0.198613,0.091832,-0.598789,-0.969196,0.977258,1.735774,1.413732,1.361037,0.556299,-0.270941,-0.303602,-0.285426,-0.203957,-0.516336,0.988727

In [24]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [25]:
regressor = LinearRegression()

In [26]:
_ = regressor.fit(x_train, y_train)

In [27]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [28]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
31,4,lucas,-0.222844,-0.198613,0.091832,-0.598789,-0.969196,0.977258,1.735774,1.413732,1.361037,0.556299,-0.270941,-0.303602,-0.285426,-0.203957,-0.516336,0.6262,0.437035
30,4,victor_hugo,-0.940505,-0.712856,-0.943591,-0.182145,0.658502,-0.201736,-1.724828,-1.499780,-1.526085,-1.031990,-0.792100,-0.647881,-0.968507,-0.918898,-0.524663,0.3608,0.268811
29,4,babu,-0.637150,-0.472922,-0.404503,-0.757918,-0.845679,1.037492,-0.262035,-0.140402,-0.022919,-0.316891,-0.464257,-0.571648,-0.743518,-0.768231,-0.245379,0.0130,0.261896

# Paredao 5

In [29]:
train_df, test_df, mean, std = get_train_test(5, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
3,5,bianca_andrade,-0.830779,-0.578310,-0.872479,-0.258918,1.760777,-0.718459,0.217874,0.204274,-0.793069,-1.335340,-0.617391,-0.327142,-1.046455,-1.004080,-0.167656,0.654978
4,5,flayslene,-0.979047,-0.727818,-0.895104,-0.820707,-0.194888,0.746119,-1.142354,-1.097732,-0.901750,-1.339283,-0.684786,-0.558017,-0.978505,-0.921699,-0.444062,-0.586512
5,5,felipe_prior,-0.781127,-0.525175,-0.393698,-1.310870,-1.145978,1.628649,0.673392,0.667008,1.506852,-1.266309,-0.286001,-0.223704,-0.687070,-0.593908,-0.354340,-0.179219

In [30]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [31]:
regressor = LinearRegression()

In [32]:
_ = regressor.fit(x_train, y_train)

In [33]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [34]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
3,5,bianca_andrade,-0.830779,-0.578310,-0.872479,-0.258918,1.760777,-0.718459,0.217874,0.204274,-0.793069,-1.335340,-0.617391,-0.327142,-1.046455,-1.004080,-0.167656,0.5309,0.606760
5,5,felipe_prior,-0.781127,-0.525175,-0.393698,-1.310870,-1.145978,1.628649,0.673392,0.667008,1.506852,-1.266309,-0.286001,-0.223704,-0.687070,-0.593908,-0.354340,0.2927,0.532885
4,5,flayslene,-0.979047,-0.727818,-0.895104,-0.820707,-0.194888,0.746119,-1.142354,-1.097732,-0.901750,-1.339283,-0.684786,-0.558017,-0.978505,-0.921699,-0.444062,0.1764,0.377067

# Paredao 6

In [35]:
train_df, test_df, mean, std = get_train_test(6, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
0,6,gizelly_bicalho,0.430299,-0.185031,-0.575006,2.043195,0.103645,-1.657792,-0.008121,-0.732017,-1.425415,-0.152104,-0.230556,-0.205491,0.460328,0.404147,-0.326546,-1.181867
1,6,guilherme,0.041509,0.110839,1.245057,-1.229993,-1.761684,1.887461,-0.683245,0.008504,0.651485,1.633704,0.110574,0.311700,0.530447,0.700483,-0.444706,0.759340
2,6,pyong,0.688522,0.306039,1.187638,-0.428713,-1.392274,1.065236,0.440277,0.497064,0.585963,0.978436,0.632924,0.573101,0.636212,0.654985,0.747726,0.311773

In [36]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [37]:
regressor = LinearRegression()

In [38]:
_ = regressor.fit(x_train, y_train)

In [39]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [40]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
1,6,guilherme,0.041509,0.110839,1.245057,-1.229993,-1.761684,1.887461,-0.683245,0.008504,0.651485,1.633704,0.110574,0.311700,0.530447,0.700483,-0.444706,0.5607,0.733706
0,6,gizelly_bicalho,0.430299,-0.185031,-0.575006,2.043195,0.103645,-1.657792,-0.008121,-0.732017,-1.425415,-0.152104,-0.230556,-0.205491,0.460328,0.404147,-0.326546,0.0064,0.627049
2,6,pyong,0.688522,0.306039,1.187638,-0.428713,-1.392274,1.065236,0.440277,0.497064,0.585963,0.978436,0.632924,0.573101,0.636212,0.654985,0.747726,0.4329,0.500648

# Paredao 7

In [41]:
train_df, test_df, mean, std = get_train_test(7, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
6,7,babu,-0.028756,-0.357827,-0.449323,1.086410,-0.805217,-0.431152,0.904525,0.283412,0.544082,-0.268512,-0.325950,-0.327600,0.925109,0.382582,-0.245379,-1.043184
7,7,manu_gavassi,-0.255946,-0.422395,-0.718243,1.372279,0.261504,-1.213874,0.165291,-0.054596,-0.476042,-0.623496,-0.454807,-0.409961,-0.278738,-0.512306,3.348856,-0.847768
8,7,victor_hugo,-0.712702,-0.498933,-0.660238,-0.489664,0.462487,0.142213,-1.320905,-0.455266,-0.256007,-0.570611,-0.643762,-0.456640,-0.264447,-0.404556,-0.524663,1.780199

In [42]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [43]:
regressor = LinearRegression()

In [44]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [45]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
8,7,victor_hugo,-0.712702,-0.498933,-0.660238,-0.489664,0.462487,0.142213,-1.320905,-0.455266,-0.256007,-0.570611,-0.643762,-0.456640,-0.264447,-0.404556,-0.524663,0.8522,0.204619
6,7,babu,-0.028756,-0.357827,-0.449323,1.086410,-0.805217,-0.431152,0.904525,0.283412,0.544082,-0.268512,-0.325950,-0.327600,0.925109,0.382582,-0.245379,0.0460,-0.360654
7,7,manu_gavassi,-0.255946,-0.422395,-0.718243,1.372279,0.261504,-1.213874,0.165291,-0.054596,-0.476042,-0.623496,-0.454807,-0.409961,-0.278738,-0.512306,3.348856,0.1018,-0.390352

# Paredao 8

In [46]:
train_df, test_df, mean, std = get_train_test(8, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
17,8,babu,0.380187,0.065491,0.385092,-0.022954,-0.870930,0.473895,0.180618,-0.213141,-0.143736,0.360970,0.148574,0.324357,0.608640,0.455833,-0.245379,0.466566
18,8,rafa,-0.284756,-0.262183,0.185606,-0.778607,-1.524441,1.409021,-1.093434,-0.996091,-0.395749,0.233296,-0.251083,-0.050620,-0.605024,-0.843303,-0.274006,-1.183618
19,8,pyong,0.631284,0.566000,0.777120,-0.404069,0.119933,0.254343,0.661727,0.982782,0.351518,1.197860,0.446819,0.481462,0.061688,0.072265,0.747726,0.606299

In [47]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [48]:
regressor = LinearRegression()

In [49]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [50]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
19,8,pyong,0.631284,0.566000,0.777120,-0.404069,0.119933,0.254343,0.661727,0.982782,0.351518,1.197860,0.446819,0.481462,0.061688,0.072265,0.747726,0.5170,0.601497
17,8,babu,0.380187,0.065491,0.385092,-0.022954,-0.870930,0.473895,0.180618,-0.213141,-0.143736,0.360970,0.148574,0.324357,0.608640,0.455833,-0.245379,0.4771,0.226166
18,8,rafa,-0.284756,-0.262183,0.185606,-0.778607,-1.524441,1.409021,-1.093434,-0.996091,-0.395749,0.233296,-0.251083,-0.050620,-0.605024,-0.843303,-0.274006,0.0059,0.111839

# Paredão 9

In [51]:
train_df, test_df, mean, std = get_train_test(9, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
14,9,daniel,0.150851,0.204679,0.244976,-0.415967,0.289477,0.174935,0.090996,0.533047,0.323595,1.272211,-0.189154,-0.013621,0.364698,0.487613,-0.507169,1.626107
15,9,flayslene,0.227399,-0.104427,0.014050,0.347739,-0.782390,0.136623,0.258158,-0.322562,-0.075742,-0.583566,0.281502,0.014215,0.165768,0.104961,-0.444062,-0.870181
16,9,ivy,-0.165683,-0.145746,-0.194173,-0.161435,0.100925,0.073869,-0.600243,-0.436934,-0.435820,0.719771,-0.428524,-0.441062,0.008806,0.032680,-0.484491,-0.866679

In [52]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [53]:
regressor = LinearRegression()

In [54]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [55]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
14,9,daniel,0.150851,0.204679,0.244976,-0.415967,0.289477,0.174935,0.090996,0.533047,0.323595,1.272211,-0.189154,-0.013621,0.364698,0.487613,-0.507169,0.8082,0.764596
16,9,ivy,-0.165683,-0.145746,-0.194173,-0.161435,0.100925,0.073869,-0.600243,-0.436934,-0.435820,0.719771,-0.428524,-0.441062,0.008806,0.032680,-0.484491,0.0964,0.443616
15,9,flayslene,0.227399,-0.104427,0.014050,0.347739,-0.782390,0.136623,0.258158,-0.322562,-0.075742,-0.583566,0.281502,0.014215,0.165768,0.104961,-0.444062,0.0954,0.063117

# Paredão 10

In [56]:
train_df, test_df, mean, std = get_train_test(10, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
11,10,manu_gavassi,4.299966,4.346936,2.642472,-0.092823,2.299866,-1.130995,1.735802,1.502096,0.511881,1.227212,4.046057,4.490002,3.065484,2.339765,3.760466,0.284457
12,10,mari,0.326473,0.026397,-0.151226,0.585417,0.214207,-0.571572,-1.540103,-1.793601,-1.394431,-0.227832,0.036405,0.198181,-0.519437,-0.616200,-0.295329,-1.177665
13,10,felipe_prior,1.652606,2.463028,2.910221,-1.106925,0.953104,0.369842,-0.446787,0.065055,0.694583,2.169433,2.426089,2.420783,3.092830,3.383779,0.039823,0.782454

In [57]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [58]:
regressor = LinearRegression()

In [59]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [60]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
13,10,felipe_prior,1.652606,2.463028,2.910221,-1.106925,0.953104,0.369842,-0.446787,0.065055,0.694583,2.169433,2.426089,2.420783,3.092830,3.383779,0.039823,0.5673,1.353901
11,10,manu_gavassi,4.299966,4.346936,2.642472,-0.092823,2.299866,-1.130995,1.735802,1.502096,0.511881,1.227212,4.046057,4.490002,3.065484,2.339765,3.760466,0.4251,1.144049
12,10,mari,0.326473,0.026397,-0.151226,0.585417,0.214207,-0.571572,-1.540103,-1.793601,-1.394431,-0.227832,0.036405,0.198181,-0.519437,-0.616200,-0.295329,0.0076,0.058475

# Paredao 11

In [61]:
train_df, test_df, mean, std = get_train_test(11, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
26,11,babu,0.398270,-0.112023,-0.154854,0.949291,-0.626115,-0.417288,0.211517,-0.124059,-0.018638,0.684661,-0.273092,-0.185502,-0.077350,-0.185283,0.036155,-1.060345
27,11,gabi,0.113535,-0.240392,-0.288494,0.828629,-0.670701,-0.299252,-0.333357,-0.515712,-0.297216,0.504916,-0.457075,-0.259272,-0.449814,-0.480076,-0.324028,0.883314
28,11,thelma,0.220196,0.064110,-0.084562,0.235224,0.372347,-0.379510,-0.129249,0.413322,0.127887,0.242121,-0.036456,-0.013621,0.094952,-0.217400,-0.191782,0.066277

In [62]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [63]:
regressor = LinearRegression()

In [64]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [65]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
28,11,thelma,0.220196,0.064110,-0.084562,0.235224,0.372347,-0.379510,-0.129249,0.413322,0.127887,0.242121,-0.036456,-0.013621,0.094952,-0.217400,-0.191782,0.3628,0.407448
27,11,gabi,0.113535,-0.240392,-0.288494,0.828629,-0.670701,-0.299252,-0.333357,-0.515712,-0.297216,0.504916,-0.457075,-0.259272,-0.449814,-0.480076,-0.324028,0.5961,0.188542
26,11,babu,0.398270,-0.112023,-0.154854,0.949291,-0.626115,-0.417288,0.211517,-0.124059,-0.018638,0.684661,-0.273092,-0.185502,-0.077350,-0.185283,0.036155,0.0411,0.185962

# Sumarizando

In [66]:
summary_df

,day2,neutros_individual_pct,seguidores,paredao,neutros_global_pct,negativos_global_pct,neutros,likes,day1,negativos_individual_pct,nome,negativos,day3,rejeicao,positivos_individual_pct,positivos,positivos_global_pct,retweets,predicao
0,-0.743429,0.694588,-0.167656,1,-0.126126,-0.822482,-0.687151,-0.874608,-1.094324,-1.691078,bianca_andrade,-0.991063,-0.586597,0.2446,1.691474,-0.764653,1.119272,-0.869489,-0.028511
1,-0.755088,0.297313,-0.526805,1,2.390624,2.702153,-0.473612,-0.709855,-0.036008,0.525974,lucas_chumbo,-0.575669,-0.582931,0.7594,-0.868480,-0.737221,1.391614,-0.610597,1.042913
2,-0.740144,1.253614,-0.245379,2,-2.095263,-1.895266,-0.694095,-0.934305,-1.109533,-1.316904,babu,-0.988723,-0.659565,0.0044,0.841864,-0.862961,-2.217411,-0.870147,0.090817
3,0.969403,0.034264,-0.517464,2,0.748123,0.754903,0.697860,0.792470,1.461031,1.007125,petrix,1.303452,-0.132466,0.8027,-1.306109,0.212150,-0.216688,1.608845,0.034876
4,-0.079311,-0.433936,0.747726,2,-1.295977,-1.485532,-0.302812,0.064725,-0.676380,-1.675749,pyong,-0.634337,-0.329548,0.0066,2.424619,0.372831,0.082330,0.163253,-0.273731
5,1.077618,-0.589637,-0.528428,2,-0.074282,0.370290,0.295259,0.399386,0.120705,1.319713,hadson,0.970794,-0.387109,0.1863,-1.288287,-0.026763,-0.661293,0.942679,-0.577521
6,-0.726973,0.652012,-0.354340,3,0.619924,0.750190,-0.745581,-0.857558,-1.389163,-0.785636,felipe_prior,-1.000737,-0.581098,0.2029,0.566176,-0.939202,1.628578,-0.787787,0.217177
7,-0.725083,2.084500,-0.528428,3,1.644574,1.129482,-0.698737,-0.990926,-1.341286,-0.738772,hadson,-0.982286,-0.559105,0.7971,-0.448945,-0.975982,0.882308,-0.925952,0.850779
8,-0.464257,-0.845679,-0.245379,4,-0.140402,-0.022919,-0.472922,-0.743518,-0.316891,1.037492,babu,-0.404503,-0.571648,0.0130,-0.757918,-0.637150,-0.262035,-0.768231,0.261896
9,-0.792100,0.658502,-0.524663,4,-1.499780,-1.526085,-0.712856,-0.968507,-1.031990,-0.201736,victor_hugo,-0.943591,-0.647881,0.3608,-0.182145,-0.940505,-1.724828,-0.918898,0.268811
10,-0.270941,-0.969196,-0.516336,4,1.413732,1.361037,-0.198613,-0.285426,0.556299,0.977258,lucas,0.091832,-0.303602,0.6262,-0.598789,-0.222844,1.735774,-0.203957,0.437035
11,-0.617391,1.760777,-0.167656,5,0.204274,-0.793069,-0.578310,-1.046455,-1.335340,-0.718459,bianca_andrade,-0.872479,-0.327142,0.5309,-0.258918,-0.830779,0.217874,-1.004080,0.606760
12,-0.684786,-0.194888,-0.444062,5,-1.097732,-0.901750,-0.727818,-0.978505,-1.339283,0.746119,flayslene,-0.895104,-0.558017,0.1764,-0.820707,-0.979047,-1.142354,-0.921699,0.377067
13,-0.286001,-1.145978,-0.354340,5,0.667008,1.506852,-0.525175,-0.687070,-1.266309,1.628649,felipe_prior,-0.393698,-0.223704,0.2927,-1.310870,-0.781127,0.673392,-0.593908,0.532885
14,-0.230556,0.103645,-0.326546,6,-0.732017,-1.425415,-0.185031,0.460328,-0.152104,-1.657792,gizelly_bicalho,-0.575006,-0.205491,0.0064,2.043195,0.430299,-0.008121,0.404147,0.627049
15,0.110574,-1.761684,-0.444706,6,0.008504,0.651485,0.110839,0.530447,1.633704,1.887461,guilherme,1.245057,0.311700,0.5607,-1.229993,0.041509,-0.683245,0.700483,0.733706
16,0.632924,-1.392274,0.747726,6,0.497064,0.585963,0.306039,0.636212,0.978436,1.065236,pyong,1.187638,0.573101,0.4329,-0.428713,0.688522,0.440277,0.654985,0.500648
17,-0.325950,-0.805217,-0.245379,7,0.283412,0.544082,-0.357827,0.925109,-0.268512,-0.431152,babu,-0.449323,-0.327600,0.0460,1.086410,-0.028756,0.904525,0.382582,-0.360654
18,-0.454807,0.261504,3.348856,7,-0.054596,-0.476042,-0.422395,-0.278738,-0.623496,-1.213874,manu_gavassi,-0.718243,-0.409961,0.1018,1.372279,-0.255946,0.165291,-0.512306,-0.390352
19,-0.643762,0.462487,-0.524663,7,-0.455266,-0.256007,-0.498933,-0.264447,-0.570611,0.142213,victor_hugo,-0.660238,-0.456640,0.8522,-0.489664,-0.712702,-1.320905,-0.404556,0.204619
20,0.148574,-0.870930,-0.245379,8,-0.213141,-0.143736,0.065491,0.608640,0.360970,0.473895,babu,0.385092,0.324357,0.4771,-0.022954,0.380187,0.180618,0.455833,0.226166
21,-0.251083,-1.524441,-0.274006,8,-0.996091,-0.395749,-0.262183,-0.605024,0.233296,1.409021,rafa,0.185606,-0.050620,0.0059,-0.778607,-0.284756,-1.093434,-0.843303,0.111839
22,0.446819,0.119933,0.747726,8,0.982782,0.351518,0.566000,0.061688,1.197860,0.254343,pyong,0.777120,0.481462,0.5170,-0.404069,0.631284,0.661727,0.072265,0.601497
23,-0.189154,0.289477,-0.507169,9,0.533047,0.323595,0.204679,0.364698,1.272211,0.174935,daniel,0.244976,-0.013621,0.8082,-0.415967,0.150851,0.090996,0.487613,0.764596
24,0.281502,-0.782390,-0.444062,9,-0.322562,-0.075742,-0.104427,0.165768,-0.583566,0.136623,flayslene,0.014050,0.014215,0.0954,0.347739,0.227399,0.258158,0.104961,0.063117
25,-0.428524,0.100925,-0.484491,9,-0.436934,-0.435820,-0.145746,0.008806,0.719771,0.073869,ivy,-0.194173,-0.441062,0.0964,-0.161435,-0.165683,-0.600243,0.032680,0.443616
26,4.046057,2.299866,3.760466,10,1.502096,0.511881,4.346936,3.065484,1.227212,-1.130995,manu_gavassi,2.642472,4.490002,0.4251,-0.092823,4.299966,1.735802,2.339765,1.144049
27,0.036405,0.214207,-0.295329,10,-1.793601,-1.394431,0.026397,-0.519437,-0.227832,-0.571572,mari,-0.151226,0.198181,0.0076,0.585417,0.326473,-1.540103,-0.616200,0.058475
28,2.426089,0.953104,0.039823,10,0.065055,0.694583,2.463028,3.092830,2.169433,0.369842,felipe_prior,2.910221,2.420783,0.5673,-1.106925,1.652606,-0.446787,3.383779,1.353901
29,-0.273092,-0.626115,0.036155,11,-0.124059,-0.018638,-0.112023,-0.077350,0.684661,-0.417288,babu,-0.154854,-0.185502,0.0411,0.949291,0.398270,0.211517,-0.185283,0.185962
30,-0.457075,-0.670701,-0.324028,11,-0.515712,-0.297216,-0.240392,-0.449814,0.504916,-0.299252,gabi,-0.288494,-0.259272,0.5961,0.828629,0.113535,-0.333357,-0.480076,0.188542
31,-0.036456,0.372347,-0.191782,11,0.413322,0.127887,0.064110,0.094952,0.242121,-0.379510,thelma,-0.084562,-0.013621,0.3628,0.235224,0.220196,-0.129249,-0.217400,0.407448