# Experimentos baseados em regressão linear

- Utilizando cada paredão como teste e avaliando com holdout.

In [1]:
import pandas as pd 
import numpy as np 
from regression_utils import *
from sklearn.linear_model import LinearRegression

In [2]:
NORMALIZE = True

In [3]:
summary_df = pd.DataFrame(columns=COLUMNS)

# Paredao 1

In [4]:
train_df, test_df, mean, std = get_train_test(1, normalize=NORMALIZE)

In [6]:
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
21,1,bianca_andrade,-0.900023,-1.04798,-1.0553,1.657885,0.816811,-1.667742,1.094863,-0.143366,-0.788016,-0.953554,-0.974505,-0.933802,-1.04018,-0.992055,-0.0635785,-0.342686
22,1,lucas_chumbo,-0.850146,-0.53389,-0.509813,-0.773887,0.407289,0.404260,1.365944,2.370248,2.530582,0.146492,-0.996246,-0.923455,-0.78605,-0.628783,-0.508706,1.391839

In [7]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [8]:
regressor = LinearRegression()

In [9]:
_ = regressor.fit(x_train, y_train)

In [10]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [11]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
22,1,lucas_chumbo,-0.850146,-0.53389,-0.509813,-0.773887,0.407289,0.404260,1.365944,2.370248,2.530582,0.146492,-0.996246,-0.923455,-0.78605,-0.628783,-0.508706,0.7594,0.878061
21,1,bianca_andrade,-0.900023,-1.04798,-1.0553,1.657885,0.816811,-1.667742,1.094863,-0.143366,-0.788016,-0.953554,-0.974505,-0.933802,-1.04018,-0.992055,-0.0635785,0.2446,-0.031844

# Paredao 2

In [12]:
train_df, test_df, mean, std = get_train_test(2, normalize=NORMALIZE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
17,2,babu,-1.07877,-1.0647,-1.05223,0.850817,1.393069,-1.318048,-2.226367,-2.110050,-1.798090,-0.969362,-0.968379,-1.13978,-1.13226,-0.992979,-0.159909,-1.151996
18,2,petrix,0.876038,2.2864,1.95783,-1.189603,0.136132,0.853930,-0.234910,0.729794,0.697161,1.70256,2.21954,0.348125,1.53127,2.48549,-0.497129,1.537731
19,2,pyong,1.16819,-0.122693,-0.586855,2.354321,-0.346501,-1.653416,0.062723,-1.311760,-1.412308,-0.51913,0.263925,-0.208201,0.408731,0.457068,1.07094,-1.144583
20,2,hadson,0.441636,1.31715,1.52099,-1.172673,-0.507002,1.146068,-0.677456,-0.091587,0.335030,0.309385,2.42134,-0.370685,0.924943,1.55074,-0.510718,-0.539117

In [13]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [14]:
regressor = LinearRegression()

In [15]:
_ = regressor.fit(x_train, y_train)

In [16]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [17]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
18,2,petrix,0.876038,2.2864,1.95783,-1.189603,0.136132,0.853930,-0.234910,0.729794,0.697161,1.70256,2.21954,0.348125,1.53127,2.48549,-0.497129,0.8027,0.759157
20,2,hadson,0.441636,1.31715,1.52099,-1.172673,-0.507002,1.146068,-0.677456,-0.091587,0.335030,0.309385,2.42134,-0.370685,0.924943,1.55074,-0.510718,0.1863,0.156128
17,2,babu,-1.07877,-1.0647,-1.05223,0.850817,1.393069,-1.318048,-2.226367,-2.110050,-1.798090,-0.969362,-0.968379,-1.13978,-1.13226,-0.992979,-0.159909,0.0044,0.101551
19,2,pyong,1.16819,-0.122693,-0.586855,2.354321,-0.346501,-1.653416,0.062723,-1.311760,-1.412308,-0.51913,0.263925,-0.208201,0.408731,0.457068,1.07094,0.0066,-0.392612

# Paredao 3

In [18]:
train_df, test_df, mean, std = get_train_test(3, normalize=NORMALIZE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
9,3,felipe_prior,-1.2174,-1.18865,-1.06801,0.588933,0.772922,-0.821538,1.601810,0.601755,0.692723,-1.26002,-0.943818,-0.918282,-1.01388,-0.877413,-0.294954,-0.483186
10,3,hadson,-1.28427,-1.07587,-1.04378,-0.375359,2.249568,-0.777741,0.858997,1.625128,1.049843,-1.21025,-0.940294,-0.856198,-1.2196,-1.07128,-0.510718,1.518863

In [19]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [20]:
regressor = LinearRegression()

In [21]:
_ = regressor.fit(x_train, y_train)

In [22]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [23]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
10,3,hadson,-1.28427,-1.07587,-1.04378,-0.375359,2.249568,-0.777741,0.858997,1.625128,1.049843,-1.21025,-0.940294,-0.856198,-1.2196,-1.07128,-0.510718,0.7971,0.842786
9,3,felipe_prior,-1.2174,-1.18865,-1.06801,0.588933,0.772922,-0.821538,1.601810,0.601755,0.692723,-1.26002,-0.943818,-0.918282,-1.01388,-0.877413,-0.294954,0.2029,0.365071

# Paredao 4

In [24]:
train_df, test_df, mean, std = get_train_test(4, normalize=NORMALIZE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
23,4,babu,-0.668193,-0.532228,-0.28504,-0.668861,-0.770937,0.882312,-0.280046,-0.157625,-0.035193,-0.145466,-0.453911,-0.891605,-0.837975,-0.849973,-0.159909,-1.123020
24,4,victor_hugo,-1.21976,-1.10986,-0.992964,-0.121918,0.779612,-0.275840,-1.736065,-1.515309,-1.450490,-0.888761,-1.06526,-1.1068,-1.18502,-1.06138,-0.506051,0.048829
25,4,lucas,0.0851142,0.128164,0.366743,-0.517700,-0.898261,0.826018,1.708510,1.394574,1.267863,0.762153,-0.0934205,-0.134962,-0.131374,-0.0581943,-0.495731,0.943046

In [25]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [26]:
regressor = LinearRegression()

In [27]:
_ = regressor.fit(x_train, y_train)

In [28]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [29]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
25,4,lucas,0.0851142,0.128164,0.366743,-0.517700,-0.898261,0.826018,1.708510,1.394574,1.267863,0.762153,-0.0934205,-0.134962,-0.131374,-0.0581943,-0.495731,0.6262,0.206181
24,4,victor_hugo,-1.21976,-1.10986,-0.992964,-0.121918,0.779612,-0.275840,-1.736065,-1.515309,-1.450490,-0.888761,-1.06526,-1.1068,-1.18502,-1.06138,-0.506051,0.3608,0.205853
23,4,babu,-0.668193,-0.532228,-0.28504,-0.668861,-0.770937,0.882312,-0.280046,-0.157625,-0.035193,-0.145466,-0.453911,-0.891605,-0.837975,-0.849973,-0.159909,0.0130,0.036548

# Paredao 5

In [30]:
train_df, test_df, mean, std = get_train_test(5, normalize=NORMALIZE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
3,5,bianca_andrade,-1.02026,-0.785947,-0.899582,-0.194847,1.915866,-0.758757,0.197640,0.186622,-0.760323,-1.20407,-0.739473,-0.201411,-1.30525,-1.18091,-0.0635785,0.621950
4,5,flayslene,-1.28984,-1.14588,-0.929292,-0.728506,-0.100085,0.610002,-1.156289,-1.113762,-0.862651,-1.20817,-0.865149,-0.853126,-1.20044,-1.06532,-0.406154,-0.572473
5,5,felipe_prior,-0.929976,-0.658025,-0.27085,-1.194126,-1.080492,1.434791,0.651048,0.648780,1.405154,-1.13232,-0.121505,0.0905758,-0.750906,-0.605365,-0.294954,-0.180621

In [31]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [32]:
regressor = LinearRegression()

In [33]:
_ = regressor.fit(x_train, y_train)

In [34]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [35]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
5,5,felipe_prior,-0.929976,-0.658025,-0.27085,-1.194126,-1.080492,1.434791,0.651048,0.648780,1.405154,-1.13232,-0.121505,0.0905758,-0.750906,-0.605365,-0.294954,0.2927,0.861778
3,5,bianca_andrade,-1.02026,-0.785947,-0.899582,-0.194847,1.915866,-0.758757,0.197640,0.186622,-0.760323,-1.20407,-0.739473,-0.201411,-1.30525,-1.18091,-0.0635785,0.5309,0.767423
4,5,flayslene,-1.28984,-1.14588,-0.929292,-0.728506,-0.100085,0.610002,-1.156289,-1.113762,-0.862651,-1.20817,-0.865149,-0.853126,-1.20044,-1.06532,-0.406154,0.1764,0.574901

# Paredao 6

In [36]:
train_df, test_df, mean, std = get_train_test(6, normalize=NORMALIZE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
0,6,gizelly_bicalho,1.27268,0.16086,-0.508942,1.991995,0.207651,-1.636633,-0.027308,-0.748503,-1.355705,0.0258185,-0.0181127,0.141989,1.01895,0.795085,-0.260505,-1.145257
1,6,guilherme,0.565771,0.873159,1.88115,-1.117298,-1.715178,1.676671,-0.699306,-0.008904,0.599788,1.88204,0.618018,1.60192,1.1271,1.2109,-0.406953,0.722356
2,6,pyong,1.74219,1.3431,1.80575,-0.356140,-1.334381,0.908240,0.419013,0.479047,0.538096,1.20094,1.59209,2.33981,1.29024,1.14706,1.07094,0.291757

In [37]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [38]:
regressor = LinearRegression()

In [39]:
_ = regressor.fit(x_train, y_train)

In [40]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [41]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
1,6,guilherme,0.565771,0.873159,1.88115,-1.117298,-1.715178,1.676671,-0.699306,-0.008904,0.599788,1.88204,0.618018,1.60192,1.1271,1.2109,-0.406953,0.5607,1.374169
2,6,pyong,1.74219,1.3431,1.80575,-0.356140,-1.334381,0.908240,0.419013,0.479047,0.538096,1.20094,1.59209,2.33981,1.29024,1.14706,1.07094,0.4329,0.878821
0,6,gizelly_bicalho,1.27268,0.16086,-0.508942,1.991995,0.207651,-1.636633,-0.027308,-0.748503,-1.355705,0.0258185,-0.0181127,0.141989,1.01895,0.795085,-0.260505,0.0064,0.559376

# Paredao 7

In [42]:
train_df, test_df, mean, std = get_train_test(7, normalize=NORMALIZE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
6,7,babu,0.438014,-0.255141,-0.343897,1.083118,-0.729228,-0.490247,0.881111,0.265662,0.498664,-0.09518,-0.196,-0.202704,1.73587,0.764825,-0.159909,-1.011832
7,7,manu_gavassi,0.0249277,-0.410587,-0.697039,1.354673,0.370376,-1.221758,0.145301,-0.071926,-0.461829,-0.464161,-0.43629,-0.435194,-0.121058,-0.490864,4.29477,-0.823824
8,7,victor_hugo,-0.805563,-0.59485,-0.620868,-0.414039,0.577555,0.045606,-1.334013,-0.472096,-0.254656,-0.409191,-0.788648,-0.56696,-0.0990134,-0.339671,-0.506051,1.704512

In [43]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [44]:
regressor = LinearRegression()

In [45]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [46]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
8,7,victor_hugo,-0.805563,-0.59485,-0.620868,-0.414039,0.577555,0.045606,-1.334013,-0.472096,-0.254656,-0.409191,-0.788648,-0.56696,-0.0990134,-0.339671,-0.506051,0.8522,0.054216
6,7,babu,0.438014,-0.255141,-0.343897,1.083118,-0.729228,-0.490247,0.881111,0.265662,0.498664,-0.09518,-0.196,-0.202704,1.73587,0.764825,-0.159909,0.0460,-0.626473
7,7,manu_gavassi,0.0249277,-0.410587,-0.697039,1.354673,0.370376,-1.221758,0.145301,-0.071926,-0.461829,-0.464161,-0.43629,-0.435194,-0.121058,-0.490864,4.29477,0.1018,-0.767769

# Paredao 8

In [47]:
train_df, test_df, mean, std = get_train_test(8, normalize=NORMALIZE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
14,8,babu,1.18157,0.763987,0.75185,0.029302,-0.796967,0.355588,0.160556,-0.230273,-0.148948,0.559123,0.68888,1.63765,1.24771,0.867611,-0.159909,0.440681
15,8,rafa,-0.0274569,-0.024881,0.489887,-0.688514,-1.470623,1.229533,-1.107595,-1.012248,-0.386229,0.426415,-0.0563901,0.57916,-0.62435,-0.955311,-0.195388,-1.146942
16,8,pyong,1.63812,1.96895,1.26666,-0.332730,0.224442,0.150400,0.639438,0.964160,0.317356,1.42901,1.24504,2.08113,0.404047,0.329395,1.07094,0.575117

In [48]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [49]:
regressor = LinearRegression()

In [50]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [51]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
16,8,pyong,1.63812,1.96895,1.26666,-0.332730,0.224442,0.150400,0.639438,0.964160,0.317356,1.42901,1.24504,2.08113,0.404047,0.329395,1.07094,0.5170,0.693544
14,8,babu,1.18157,0.763987,0.75185,0.029302,-0.796967,0.355588,0.160556,-0.230273,-0.148948,0.559123,0.68888,1.63765,1.24771,0.867611,-0.159909,0.4771,0.324265
15,8,rafa,-0.0274569,-0.024881,0.489887,-0.688514,-1.470623,1.229533,-1.107595,-1.012248,-0.386229,0.426415,-0.0563901,0.57916,-0.62435,-0.955311,-0.195388,0.0059,0.057347

# Paredão 9

In [52]:
train_df, test_df, mean, std = get_train_test(9, normalize=NORMALIZE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao
11,9,daniel,0.764581,1.09908,0.567851,-0.344032,0.399211,0.076187,0.071349,0.514985,0.291065,1.50629,0.0590926,0.683603,0.871436,0.912203,-0.484369,1.556262
12,9,flayslene,0.903763,0.354913,0.264601,0.381434,-0.705697,0.040381,0.237738,-0.339558,-0.084928,-0.422657,0.936762,0.762177,0.564589,0.375273,-0.406154,-0.845388
13,9,ivy,0.189047,0.255439,-0.00883625,-0.102245,0.204847,-0.018267,-0.616688,-0.453787,-0.423958,0.932072,-0.387278,-0.522984,0.322476,0.273851,-0.456262,-0.842018

In [53]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [54]:
regressor = LinearRegression()

In [55]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [56]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
11,9,daniel,0.764581,1.09908,0.567851,-0.344032,0.399211,0.076187,0.071349,0.514985,0.291065,1.50629,0.0590926,0.683603,0.871436,0.912203,-0.484369,0.8082,0.846985
13,9,ivy,0.189047,0.255439,-0.00883625,-0.102245,0.204847,-0.018267,-0.616688,-0.453787,-0.423958,0.932072,-0.387278,-0.522984,0.322476,0.273851,-0.456262,0.0964,0.500537
12,9,flayslene,0.903763,0.354913,0.264601,0.381434,-0.705697,0.040381,0.237738,-0.339558,-0.084928,-0.422657,0.936762,0.762177,0.564589,0.375273,-0.406154,0.0954,0.030438

# Sumarizando

In [57]:
summary_df

,paredao,nome,positivos,neutros,negativos,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,day2,day3,likes,retweets,seguidores,rejeicao,predicao
0,1,bianca_andrade,-0.900023,-1.04798,-1.0553,1.657885,0.816811,-1.667742,1.094863,-0.143366,-0.788016,-0.953554,-0.974505,-0.933802,-1.04018,-0.992055,-0.0635785,0.2446,-0.031844
1,1,lucas_chumbo,-0.850146,-0.53389,-0.509813,-0.773887,0.407289,0.404260,1.365944,2.370248,2.530582,0.146492,-0.996246,-0.923455,-0.78605,-0.628783,-0.508706,0.7594,0.878061
2,2,babu,-1.07877,-1.0647,-1.05223,0.850817,1.393069,-1.318048,-2.226367,-2.110050,-1.798090,-0.969362,-0.968379,-1.13978,-1.13226,-0.992979,-0.159909,0.0044,0.101551
3,2,petrix,0.876038,2.2864,1.95783,-1.189603,0.136132,0.853930,-0.234910,0.729794,0.697161,1.70256,2.21954,0.348125,1.53127,2.48549,-0.497129,0.8027,0.759157
4,2,pyong,1.16819,-0.122693,-0.586855,2.354321,-0.346501,-1.653416,0.062723,-1.311760,-1.412308,-0.51913,0.263925,-0.208201,0.408731,0.457068,1.07094,0.0066,-0.392612
5,2,hadson,0.441636,1.31715,1.52099,-1.172673,-0.507002,1.146068,-0.677456,-0.091587,0.335030,0.309385,2.42134,-0.370685,0.924943,1.55074,-0.510718,0.1863,0.156128
6,3,felipe_prior,-1.2174,-1.18865,-1.06801,0.588933,0.772922,-0.821538,1.601810,0.601755,0.692723,-1.26002,-0.943818,-0.918282,-1.01388,-0.877413,-0.294954,0.2029,0.365071
7,3,hadson,-1.28427,-1.07587,-1.04378,-0.375359,2.249568,-0.777741,0.858997,1.625128,1.049843,-1.21025,-0.940294,-0.856198,-1.2196,-1.07128,-0.510718,0.7971,0.842786
8,4,babu,-0.668193,-0.532228,-0.28504,-0.668861,-0.770937,0.882312,-0.280046,-0.157625,-0.035193,-0.145466,-0.453911,-0.891605,-0.837975,-0.849973,-0.159909,0.0130,0.036548
9,4,victor_hugo,-1.21976,-1.10986,-0.992964,-0.121918,0.779612,-0.275840,-1.736065,-1.515309,-1.450490,-0.888761,-1.06526,-1.1068,-1.18502,-1.06138,-0.506051,0.3608,0.205853
10,4,lucas,0.0851142,0.128164,0.366743,-0.517700,-0.898261,0.826018,1.708510,1.394574,1.267863,0.762153,-0.0934205,-0.134962,-0.131374,-0.0581943,-0.495731,0.6262,0.206181
11,5,bianca_andrade,-1.02026,-0.785947,-0.899582,-0.194847,1.915866,-0.758757,0.197640,0.186622,-0.760323,-1.20407,-0.739473,-0.201411,-1.30525,-1.18091,-0.0635785,0.5309,0.767423
12,5,flayslene,-1.28984,-1.14588,-0.929292,-0.728506,-0.100085,0.610002,-1.156289,-1.113762,-0.862651,-1.20817,-0.865149,-0.853126,-1.20044,-1.06532,-0.406154,0.1764,0.574901
13,5,felipe_prior,-0.929976,-0.658025,-0.27085,-1.194126,-1.080492,1.434791,0.651048,0.648780,1.405154,-1.13232,-0.121505,0.0905758,-0.750906,-0.605365,-0.294954,0.2927,0.861778
14,6,gizelly_bicalho,1.27268,0.16086,-0.508942,1.991995,0.207651,-1.636633,-0.027308,-0.748503,-1.355705,0.0258185,-0.0181127,0.141989,1.01895,0.795085,-0.260505,0.0064,0.559376
15,6,guilherme,0.565771,0.873159,1.88115,-1.117298,-1.715178,1.676671,-0.699306,-0.008904,0.599788,1.88204,0.618018,1.60192,1.1271,1.2109,-0.406953,0.5607,1.374169
16,6,pyong,1.74219,1.3431,1.80575,-0.356140,-1.334381,0.908240,0.419013,0.479047,0.538096,1.20094,1.59209,2.33981,1.29024,1.14706,1.07094,0.4329,0.878821
17,7,babu,0.438014,-0.255141,-0.343897,1.083118,-0.729228,-0.490247,0.881111,0.265662,0.498664,-0.09518,-0.196,-0.202704,1.73587,0.764825,-0.159909,0.0460,-0.626473
18,7,manu_gavassi,0.0249277,-0.410587,-0.697039,1.354673,0.370376,-1.221758,0.145301,-0.071926,-0.461829,-0.464161,-0.43629,-0.435194,-0.121058,-0.490864,4.29477,0.1018,-0.767769
19,7,victor_hugo,-0.805563,-0.59485,-0.620868,-0.414039,0.577555,0.045606,-1.334013,-0.472096,-0.254656,-0.409191,-0.788648,-0.56696,-0.0990134,-0.339671,-0.506051,0.8522,0.054216
20,8,babu,1.18157,0.763987,0.75185,0.029302,-0.796967,0.355588,0.160556,-0.230273,-0.148948,0.559123,0.68888,1.63765,1.24771,0.867611,-0.159909,0.4771,0.324265
21,8,rafa,-0.0274569,-0.024881,0.489887,-0.688514,-1.470623,1.229533,-1.107595,-1.012248,-0.386229,0.426415,-0.0563901,0.57916,-0.62435,-0.955311,-0.195388,0.0059,0.057347
22,8,pyong,1.63812,1.96895,1.26666,-0.332730,0.224442,0.150400,0.639438,0.964160,0.317356,1.42901,1.24504,2.08113,0.404047,0.329395,1.07094,0.5170,0.693544
23,9,daniel,0.764581,1.09908,0.567851,-0.344032,0.399211,0.076187,0.071349,0.514985,0.291065,1.50629,0.0590926,0.683603,0.871436,0.912203,-0.484369,0.8082,0.846985
24,9,flayslene,0.903763,0.354913,0.264601,0.381434,-0.705697,0.040381,0.237738,-0.339558,-0.084928,-0.422657,0.936762,0.762177,0.564589,0.375273,-0.406154,0.0954,0.030438
25,9,ivy,0.189047,0.255439,-0.00883625,-0.102245,0.204847,-0.018267,-0.616688,-0.453787,-0.423958,0.932072,-0.387278,-0.522984,0.322476,0.273851,-0.456262,0.0964,0.500537