# Experimentos baseados em regressão utiliando Árvores de Decisão

- Utilizando cada paredão como teste e avaliando com holdout.

In [1]:
import pandas as pd 
import numpy as np 
from regression_utils import *
from sklearn.ensemble import RandomForestRegressor

In [2]:
NORMALIZE = False
ESTIMATORS = 1000

In [3]:
summary_df = pd.DataFrame(columns=COLUMNS)

# Paredao 1

In [4]:
train_df, test_df = get_train_test(1, normalize=NORMALIZE)

In [5]:
test_df

,paredao,nome,positivos,neutros,negativos,positivos_pct,neutros_pct,negativos_pct,seguidores,rejeicao
18,1,bianca_andrade,5102,5230,3762,0.361998,0.37108,0.266922,407828,0.2446
19,1,lucas_chumbo,5460,10796,14411,0.178042,0.35204,0.469919,11665,0.7594

In [6]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [7]:
regressor = RandomForestRegressor(n_estimators=ESTIMATORS)

In [8]:
_ = regressor.fit(x_train, y_train)

In [9]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [10]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_pct,neutros_pct,negativos_pct,seguidores,rejeicao,predicao
19,1,lucas_chumbo,5460,10796,14411,0.178042,0.35204,0.469919,11665,0.7594,0.615847
18,1,bianca_andrade,5102,5230,3762,0.361998,0.37108,0.266922,407828,0.2446,0.094440

# Paredao 2

In [11]:
train_df, test_df = get_train_test(2, normalize=NORMALIZE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_pct,neutros_pct,negativos_pct,seguidores,rejeicao
14,2,babu,3819,5049,3822,0.300946,0.397872,0.301182,317268,0.0044
15,2,petrix,17850,41331,62584,0.146594,0.339433,0.513974,22082,0.8027
16,2,pyong,19947,15248,12907,0.414681,0.316993,0.268326,1419089,0.0066
17,2,hadson,14732,30837,54056,0.147875,0.309531,0.542595,9524,0.1863

In [12]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [13]:
regressor = RandomForestRegressor(n_estimators=ESTIMATORS)

In [14]:
_ = regressor.fit(x_train, y_train)

In [15]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [16]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_pct,neutros_pct,negativos_pct,seguidores,rejeicao,predicao
15,2,petrix,17850,41331,62584,0.146594,0.339433,0.513974,22082,0.8027,0.634129
17,2,hadson,14732,30837,54056,0.147875,0.309531,0.542595,9524,0.1863,0.632506
14,2,babu,3819,5049,3822,0.300946,0.397872,0.301182,317268,0.0044,0.310233
16,2,pyong,19947,15248,12907,0.414681,0.316993,0.268326,1419089,0.0066,0.106171

# Paredao 3

In [17]:
train_df, test_df = get_train_test(3, normalize=NORMALIZE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_pct,neutros_pct,negativos_pct,seguidores,rejeicao
9,3,felipe_prior,2824,3707,3514,0.281135,0.369039,0.349826,191901,0.2029
10,3,hadson,2344,4928,3987,0.208189,0.437694,0.354117,9524,0.7971

In [18]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [19]:
regressor = RandomForestRegressor(n_estimators=ESTIMATORS)

In [20]:
_ = regressor.fit(x_train, y_train)

In [21]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [22]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_pct,neutros_pct,negativos_pct,seguidores,rejeicao,predicao
10,3,hadson,2344,4928,3987,0.208189,0.437694,0.354117,9524,0.7971,0.508153
9,3,felipe_prior,2824,3707,3514,0.281135,0.369039,0.349826,191901,0.2029,0.184812

# Paredao 4

In [23]:
train_df, test_df = get_train_test(4, normalize=NORMALIZE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_pct,neutros_pct,negativos_pct,seguidores,rejeicao
20,4,babu,6766,10814,18799,0.185986,0.297259,0.516754,317268,0.0130
21,4,victor_hugo,2807,4560,4979,0.227361,0.369350,0.403289,14044,0.3608
22,4,lucas,12173,17964,31523,0.197421,0.291340,0.511239,22688,0.6262

In [24]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [25]:
regressor = RandomForestRegressor(n_estimators=ESTIMATORS)

In [26]:
_ = regressor.fit(x_train, y_train)

In [27]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [28]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_pct,neutros_pct,negativos_pct,seguidores,rejeicao,predicao
21,4,victor_hugo,2807,4560,4979,0.227361,0.369350,0.403289,14044,0.3608,0.693218
22,4,lucas,12173,17964,31523,0.197421,0.291340,0.511239,22688,0.6262,0.513754
20,4,babu,6766,10814,18799,0.185986,0.297259,0.516754,317268,0.0130,0.215936

# Paredao 5

In [29]:
train_df, test_df = get_train_test(5, normalize=NORMALIZE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_pct,neutros_pct,negativos_pct,seguidores,rejeicao
3,5,bianca_andrade,4239,8067,6802,0.221844,0.422179,0.355977,407828,0.5309
4,5,flayslene,2304,4170,6222,0.181474,0.328450,0.490076,99593,0.1764
5,5,felipe_prior,4887,9452,19076,0.146252,0.282867,0.570881,191901,0.2927

In [30]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [31]:
regressor = RandomForestRegressor(n_estimators=ESTIMATORS)

In [32]:
_ = regressor.fit(x_train, y_train)

In [33]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [34]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_pct,neutros_pct,negativos_pct,seguidores,rejeicao,predicao
4,5,flayslene,2304,4170,6222,0.181474,0.328450,0.490076,99593,0.1764,0.628105
3,5,bianca_andrade,4239,8067,6802,0.221844,0.422179,0.355977,407828,0.5309,0.175812
5,5,felipe_prior,4887,9452,19076,0.146252,0.282867,0.570881,191901,0.2927,0.146182

# Paredao 6

In [35]:
train_df, test_df = get_train_test(6, normalize=NORMALIZE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_pct,neutros_pct,negativos_pct,seguidores,rejeicao
0,6,gizelly_bicalho,20697,18318,14428,0.387272,0.342758,0.269970,232214,0.0064
1,6,guilherme,15623,26030,61087,0.152063,0.253358,0.594579,101125,0.5607
2,6,pyong,24067,31118,59615,0.209643,0.271063,0.519294,1419089,0.4329

In [36]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [37]:
regressor = RandomForestRegressor(n_estimators=ESTIMATORS)

In [38]:
_ = regressor.fit(x_train, y_train)

In [39]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [40]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_pct,neutros_pct,negativos_pct,seguidores,rejeicao,predicao
2,6,pyong,24067,31118,59615,0.209643,0.271063,0.519294,1419089,0.4329,0.388569
1,6,guilherme,15623,26030,61087,0.152063,0.253358,0.594579,101125,0.5607,0.310018
0,6,gizelly_bicalho,20697,18318,14428,0.387272,0.342758,0.269970,232214,0.0064,0.182987

# Paredao 7

In [41]:
train_df, test_df = get_train_test(7, normalize=NORMALIZE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_pct,neutros_pct,negativos_pct,seguidores,rejeicao
6,7,babu,14706,13814,17650,0.318519,0.299199,0.382283,317268,0.0460
7,7,manu_gavassi,11741,12131,10756,0.339061,0.350323,0.310616,4298841,0.1018
8,7,victor_hugo,5780,10136,12243,0.205263,0.359956,0.434781,14044,0.8522

In [42]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [43]:
regressor = RandomForestRegressor(n_estimators=ESTIMATORS)

In [44]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [45]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_pct,neutros_pct,negativos_pct,seguidores,rejeicao,predicao
8,7,victor_hugo,5780,10136,12243,0.205263,0.359956,0.434781,14044,0.8522,0.586562
6,7,babu,14706,13814,17650,0.318519,0.299199,0.382283,317268,0.0460,0.120304
7,7,manu_gavassi,11741,12131,10756,0.339061,0.350323,0.310616,4298841,0.1018,0.096463

# Paredao 8

In [46]:
train_df, test_df = get_train_test(8, normalize=NORMALIZE)
test_df

,paredao,nome,positivos,neutros,negativos,positivos_pct,neutros_pct,negativos_pct,seguidores,rejeicao
11,8,babu,20043,24848,39041,0.238800,0.296049,0.465150,317268,0.4771
12,8,rafa,11365,16307,33927,0.184500,0.264728,0.550772,282244,0.0059
13,8,pyong,23320,37894,49091,0.211414,0.343538,0.445048,1419089,0.5170

In [47]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [48]:
regressor = RandomForestRegressor(n_estimators=ESTIMATORS)

In [49]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [50]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos,neutros,negativos,positivos_pct,neutros_pct,negativos_pct,seguidores,rejeicao,predicao
13,8,pyong,23320,37894,49091,0.211414,0.343538,0.445048,1419089,0.5170,0.334142
12,8,rafa,11365,16307,33927,0.184500,0.264728,0.550772,282244,0.0059,0.254693
11,8,babu,20043,24848,39041,0.238800,0.296049,0.465150,317268,0.4771,0.220086

# Sumarizando

In [51]:
summary_df

,paredao,nome,positivos,neutros,negativos,positivos_pct,neutros_pct,negativos_pct,seguidores,rejeicao,predicao
0,1,bianca_andrade,5102,5230,3762,0.361998,0.371080,0.266922,407828,0.2446,0.094440
1,1,lucas_chumbo,5460,10796,14411,0.178042,0.352040,0.469919,11665,0.7594,0.615847
2,2,babu,3819,5049,3822,0.300946,0.397872,0.301182,317268,0.0044,0.310233
3,2,petrix,17850,41331,62584,0.146594,0.339433,0.513974,22082,0.8027,0.634129
4,2,pyong,19947,15248,12907,0.414681,0.316993,0.268326,1419089,0.0066,0.106171
5,2,hadson,14732,30837,54056,0.147875,0.309531,0.542595,9524,0.1863,0.632506
6,3,felipe_prior,2824,3707,3514,0.281135,0.369039,0.349826,191901,0.2029,0.184812
7,3,hadson,2344,4928,3987,0.208189,0.437694,0.354117,9524,0.7971,0.508153
8,4,babu,6766,10814,18799,0.185986,0.297259,0.516754,317268,0.0130,0.215936
9,4,victor_hugo,2807,4560,4979,0.227361,0.369350,0.403289,14044,0.3608,0.693218
10,4,lucas,12173,17964,31523,0.197421,0.291340,0.511239,22688,0.6262,0.513754
11,5,bianca_andrade,4239,8067,6802,0.221844,0.422179,0.355977,407828,0.5309,0.175812
12,5,flayslene,2304,4170,6222,0.181474,0.328450,0.490076,99593,0.1764,0.628105
13,5,felipe_prior,4887,9452,19076,0.146252,0.282867,0.570881,191901,0.2927,0.146182
14,6,gizelly_bicalho,20697,18318,14428,0.387272,0.342758,0.269970,232214,0.0064,0.182987
15,6,guilherme,15623,26030,61087,0.152063,0.253358,0.594579,101125,0.5607,0.310018
16,6,pyong,24067,31118,59615,0.209643,0.271063,0.519294,1419089,0.4329,0.388569
17,7,babu,14706,13814,17650,0.318519,0.299199,0.382283,317268,0.0460,0.120304
18,7,manu_gavassi,11741,12131,10756,0.339061,0.350323,0.310616,4298841,0.1018,0.096463
19,7,victor_hugo,5780,10136,12243,0.205263,0.359956,0.434781,14044,0.8522,0.586562
20,8,babu,20043,24848,39041,0.238800,0.296049,0.465150,317268,0.4771,0.220086
21,8,rafa,11365,16307,33927,0.184500,0.264728,0.550772,282244,0.0059,0.254693
22,8,pyong,23320,37894,49091,0.211414,0.343538,0.445048,1419089,0.5170,0.334142