# Experimentos baseados em regressão utiliando Árvores de Decisão

- Utilizando cada paredão como teste e avaliando com holdout.

In [1]:
import pandas as pd 
import numpy as np 
from regression_utils import *
from sklearn.ensemble import RandomForestRegressor

In [2]:
REMOVE = ["positivos", "neutros", "negativos", "likes", "retweets", "day2", "day3"]

In [3]:
NORMALIZE = False
ESTIMATORS = 1000

In [4]:
summary_df = pd.DataFrame(columns=set(COLUMNS) - set(REMOVE))

# Paredao 1

In [5]:
train_df, test_df = get_train_test(1, normalize=NORMALIZE, drop_columns=REMOVE)

In [6]:
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao
24,1,bianca_andrade,0.361998,0.37108,0.266922,0.483052,0.326345,0.20701,5849,411880,0.2446
25,1,lucas_chumbo,0.178042,0.35204,0.469919,0.516948,0.673655,0.79299,22759,12014,0.7594

In [7]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [8]:
regressor = RandomForestRegressor(n_estimators=ESTIMATORS)

In [9]:
_ = regressor.fit(x_train, y_train)

In [10]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [11]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao,predicao
25,1,lucas_chumbo,0.178042,0.35204,0.469919,0.516948,0.673655,0.79299,22759,12014,0.7594,0.631088
24,1,bianca_andrade,0.361998,0.37108,0.266922,0.483052,0.326345,0.20701,5849,411880,0.2446,0.117765

# Paredao 2

In [12]:
train_df, test_df = get_train_test(2, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao
20,2,babu,0.300946,0.397872,0.301182,0.067775,0.054604,0.028657,5606,325345,0.0044
21,2,petrix,0.146594,0.339433,0.513974,0.316781,0.446991,0.469254,46679,22414,0.8027
22,2,pyong,0.414681,0.316993,0.268326,0.353997,0.164906,0.096777,12527,1431039,0.0066
23,2,hadson,0.147875,0.309531,0.542595,0.261447,0.333499,0.405312,25263,10207,0.1863

In [13]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [14]:
regressor = RandomForestRegressor(n_estimators=ESTIMATORS)

In [15]:
_ = regressor.fit(x_train, y_train)

In [16]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [17]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao,predicao
21,2,petrix,0.146594,0.339433,0.513974,0.316781,0.446991,0.469254,46679,22414,0.8027,0.675112
23,2,hadson,0.147875,0.309531,0.542595,0.261447,0.333499,0.405312,25263,10207,0.1863,0.547605
20,2,babu,0.300946,0.397872,0.301182,0.067775,0.054604,0.028657,5606,325345,0.0044,0.270738
22,2,pyong,0.414681,0.316993,0.268326,0.353997,0.164906,0.096777,12527,1431039,0.0066,0.100906

# Paredao 3

In [18]:
train_df, test_df = get_train_test(3, normalize=NORMALIZE,  drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao
9,3,felipe_prior,0.281135,0.369039,0.349826,0.54644,0.429299,0.468471,1138,204031,0.2029
10,3,hadson,0.208189,0.437694,0.354117,0.45356,0.570701,0.531529,1903,10207,0.7971

In [19]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [20]:
regressor = RandomForestRegressor(n_estimators=ESTIMATORS)

In [21]:
_ = regressor.fit(x_train, y_train)

In [22]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [23]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao,predicao
10,3,hadson,0.208189,0.437694,0.354117,0.45356,0.570701,0.531529,1903,10207,0.7971,0.618911
9,3,felipe_prior,0.281135,0.369039,0.349826,0.54644,0.429299,0.468471,1138,204031,0.2029,0.338467

# Paredao 4

In [24]:
train_df, test_df = get_train_test(4, normalize=NORMALIZE,  drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao
29,4,babu,0.185986,0.297259,0.516754,0.311138,0.324375,0.339940,18271,325345,0.0130
30,4,victor_hugo,0.227361,0.369350,0.403289,0.129081,0.136781,0.090035,6845,14399,0.3608
31,4,lucas,0.197421,0.291340,0.511239,0.559781,0.538845,0.570026,32223,23670,0.6262

In [25]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [26]:
regressor = RandomForestRegressor(n_estimators=ESTIMATORS)

In [27]:
_ = regressor.fit(x_train, y_train)

In [28]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [29]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao,predicao
31,4,lucas,0.197421,0.291340,0.511239,0.559781,0.538845,0.570026,32223,23670,0.6262,0.636589
30,4,victor_hugo,0.227361,0.369350,0.403289,0.129081,0.136781,0.090035,6845,14399,0.3608,0.459053
29,4,babu,0.185986,0.297259,0.516754,0.311138,0.324375,0.339940,18271,325345,0.0130,0.285097

# Paredao 5

In [30]:
train_df, test_df = get_train_test(5, normalize=NORMALIZE,  drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao
3,5,bianca_andrade,0.221844,0.422179,0.355977,0.370866,0.371940,0.211900,1998,411880,0.5309
4,5,flayslene,0.181474,0.328450,0.490076,0.201575,0.192263,0.193832,1935,104138,0.1764
5,5,felipe_prior,0.146252,0.282867,0.570881,0.427559,0.435797,0.594268,3101,204031,0.2927

In [31]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [32]:
regressor = RandomForestRegressor(n_estimators=ESTIMATORS)

In [33]:
_ = regressor.fit(x_train, y_train)

In [34]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [35]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao,predicao
5,5,felipe_prior,0.146252,0.282867,0.570881,0.427559,0.435797,0.594268,3101,204031,0.2927,0.356004
4,5,flayslene,0.181474,0.328450,0.490076,0.201575,0.192263,0.193832,1935,104138,0.1764,0.231017
3,5,bianca_andrade,0.221844,0.422179,0.355977,0.370866,0.371940,0.211900,1998,411880,0.5309,0.229450

# Paredao 6

In [36]:
train_df, test_df = get_train_test(6, normalize=NORMALIZE,  drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao
0,6,gizelly_bicalho,0.387272,0.342758,0.269970,0.342739,0.242732,0.106771,20904,234977,0.0064
1,6,guilherme,0.152063,0.253358,0.594579,0.258715,0.344924,0.452061,49438,103421,0.5607
2,6,pyong,0.209643,0.271063,0.519294,0.398546,0.412345,0.441168,38968,1431039,0.4329

In [37]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [38]:
regressor = RandomForestRegressor(n_estimators=ESTIMATORS)

In [39]:
_ = regressor.fit(x_train, y_train)

In [40]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [41]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao,predicao
2,6,pyong,0.209643,0.271063,0.519294,0.398546,0.412345,0.441168,38968,1431039,0.4329,0.415112
1,6,guilherme,0.152063,0.253358,0.594579,0.258715,0.344924,0.452061,49438,103421,0.5607,0.381964
0,6,gizelly_bicalho,0.387272,0.342758,0.269970,0.342739,0.242732,0.106771,20904,234977,0.0064,0.112104

# Paredao 7

In [42]:
train_df, test_df = get_train_test(7, normalize=NORMALIZE,  drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao
6,7,babu,0.318519,0.299199,0.382283,0.456325,0.382861,0.434205,19044,325345,0.0460
7,7,manu_gavassi,0.339061,0.350323,0.310616,0.364322,0.336216,0.264607,13372,4327060,0.1018
8,7,victor_hugo,0.205263,0.359956,0.434781,0.179353,0.280923,0.301188,14217,14399,0.8522

In [43]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [44]:
regressor = RandomForestRegressor(n_estimators=ESTIMATORS)

In [45]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [46]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao,predicao
6,7,babu,0.318519,0.299199,0.382283,0.456325,0.382861,0.434205,19044,325345,0.0460,0.319164
8,7,victor_hugo,0.205263,0.359956,0.434781,0.179353,0.280923,0.301188,14217,14399,0.8522,0.252890
7,7,manu_gavassi,0.339061,0.350323,0.310616,0.364322,0.336216,0.264607,13372,4327060,0.1018,0.153959

# Paredao 8

In [47]:
train_df, test_df = get_train_test(8, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao
17,8,babu,0.238800,0.296049,0.465150,0.366229,0.314337,0.319854,29102,325345,0.4771
18,8,rafa,0.184500,0.264728,0.550772,0.207663,0.206290,0.277956,27062,293473,0.0059
19,8,pyong,0.211414,0.343538,0.445048,0.426107,0.479374,0.402191,42474,1431039,0.5170

In [48]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [49]:
regressor = RandomForestRegressor(n_estimators=ESTIMATORS)

In [50]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [51]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao,predicao
19,8,pyong,0.211414,0.343538,0.445048,0.426107,0.479374,0.402191,42474,1431039,0.5170,0.447588
18,8,rafa,0.184500,0.264728,0.550772,0.207663,0.206290,0.277956,27062,293473,0.0059,0.262631
17,8,babu,0.238800,0.296049,0.465150,0.366229,0.314337,0.319854,29102,325345,0.4771,0.253784

# Paredão 9

In [52]:
train_df, test_df = get_train_test(9, normalize=NORMALIZE,  drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao
14,9,daniel,0.210559,0.351664,0.437777,0.355075,0.417310,0.397548,43662,33876,0.8082
15,9,flayslene,0.265438,0.300293,0.434269,0.375880,0.299236,0.331158,14010,104138,0.0954
16,9,ivy,0.228849,0.342627,0.428523,0.269045,0.283453,0.271294,34835,59125,0.0964

In [53]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [54]:
regressor = RandomForestRegressor(n_estimators=ESTIMATORS)

In [55]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [56]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao,predicao
14,9,daniel,0.210559,0.351664,0.437777,0.355075,0.417310,0.397548,43662,33876,0.8082,0.622247
16,9,ivy,0.228849,0.342627,0.428523,0.269045,0.283453,0.271294,34835,59125,0.0964,0.536484
15,9,flayslene,0.265438,0.300293,0.434269,0.375880,0.299236,0.331158,14010,104138,0.0954,0.323918

# Paredão 10

In [57]:
train_df, test_df = get_train_test(10, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao
11,10,manu_gavassi,0.233780,0.448016,0.318204,0.559785,0.551039,0.428851,42943,4785334,0.4251
12,10,mari,0.282518,0.348057,0.369426,0.152072,0.096234,0.111922,19694,269733,0.0076
13,10,felipe_prior,0.160907,0.383470,0.455623,0.288144,0.352728,0.459226,57998,642881,0.5673

In [58]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [59]:
regressor = RandomForestRegressor(n_estimators=ESTIMATORS)

In [60]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [61]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,rejeicao,predicao
11,10,manu_gavassi,0.233780,0.448016,0.318204,0.559785,0.551039,0.428851,42943,4785334,0.4251,0.442462
13,10,felipe_prior,0.160907,0.383470,0.455623,0.288144,0.352728,0.459226,57998,642881,0.5673,0.441958
12,10,mari,0.282518,0.348057,0.369426,0.152072,0.096234,0.111922,19694,269733,0.0076,0.126904

# Sumarizando

In [62]:
summary_df

,nome,positivos_individual_pct,rejeicao,positivos_global_pct,day1,paredao,negativos_global_pct,neutros_individual_pct,neutros_global_pct,negativos_individual_pct,seguidores,predicao
0,bianca_andrade,0.361998,0.2446,0.483052,5849,1,0.207010,0.371080,0.326345,0.266922,411880,0.117765
1,lucas_chumbo,0.178042,0.7594,0.516948,22759,1,0.792990,0.352040,0.673655,0.469919,12014,0.631088
2,babu,0.300946,0.0044,0.067775,5606,2,0.028657,0.397872,0.054604,0.301182,325345,0.270738
3,petrix,0.146594,0.8027,0.316781,46679,2,0.469254,0.339433,0.446991,0.513974,22414,0.675112
4,pyong,0.414681,0.0066,0.353997,12527,2,0.096777,0.316993,0.164906,0.268326,1431039,0.100906
5,hadson,0.147875,0.1863,0.261447,25263,2,0.405312,0.309531,0.333499,0.542595,10207,0.547605
6,felipe_prior,0.281135,0.2029,0.546440,1138,3,0.468471,0.369039,0.429299,0.349826,204031,0.338467
7,hadson,0.208189,0.7971,0.453560,1903,3,0.531529,0.437694,0.570701,0.354117,10207,0.618911
8,babu,0.185986,0.0130,0.311138,18271,4,0.339940,0.297259,0.324375,0.516754,325345,0.285097
9,victor_hugo,0.227361,0.3608,0.129081,6845,4,0.090035,0.369350,0.136781,0.403289,14399,0.459053
10,lucas,0.197421,0.6262,0.559781,32223,4,0.570026,0.291340,0.538845,0.511239,23670,0.636589
11,bianca_andrade,0.221844,0.5309,0.370866,1998,5,0.211900,0.422179,0.371940,0.355977,411880,0.229450
12,flayslene,0.181474,0.1764,0.201575,1935,5,0.193832,0.328450,0.192263,0.490076,104138,0.231017
13,felipe_prior,0.146252,0.2927,0.427559,3101,5,0.594268,0.282867,0.435797,0.570881,204031,0.356004
14,gizelly_bicalho,0.387272,0.0064,0.342739,20904,6,0.106771,0.342758,0.242732,0.269970,234977,0.112104
15,guilherme,0.152063,0.5607,0.258715,49438,6,0.452061,0.253358,0.344924,0.594579,103421,0.381964
16,pyong,0.209643,0.4329,0.398546,38968,6,0.441168,0.271063,0.412345,0.519294,1431039,0.415112
17,babu,0.318519,0.0460,0.456325,19044,7,0.434205,0.299199,0.382861,0.382283,325345,0.319164
18,manu_gavassi,0.339061,0.1018,0.364322,13372,7,0.264607,0.350323,0.336216,0.310616,4327060,0.153959
19,victor_hugo,0.205263,0.8522,0.179353,14217,7,0.301188,0.359956,0.280923,0.434781,14399,0.252890
20,babu,0.238800,0.4771,0.366229,29102,8,0.319854,0.296049,0.314337,0.465150,325345,0.253784
21,rafa,0.184500,0.0059,0.207663,27062,8,0.277956,0.264728,0.206290,0.550772,293473,0.262631
22,pyong,0.211414,0.5170,0.426107,42474,8,0.402191,0.343538,0.479374,0.445048,1431039,0.447588
23,daniel,0.210559,0.8082,0.355075,43662,9,0.397548,0.351664,0.417310,0.437777,33876,0.622247
24,flayslene,0.265438,0.0954,0.375880,14010,9,0.331158,0.300293,0.299236,0.434269,104138,0.323918
25,ivy,0.228849,0.0964,0.269045,34835,9,0.271294,0.342627,0.283453,0.428523,59125,0.536484
26,manu_gavassi,0.233780,0.4251,0.559785,42943,10,0.428851,0.448016,0.551039,0.318204,4785334,0.442462
27,mari,0.282518,0.0076,0.152072,19694,10,0.111922,0.348057,0.096234,0.369426,269733,0.126904
28,felipe_prior,0.160907,0.5673,0.288144,57998,10,0.459226,0.383470,0.352728,0.455623,642881,0.441958