# Experimentos baseados em SVM

- Utilizando cada paredão como teste e avaliando com holdout.

In [1]:
import pandas as pd 
import numpy as np 
from regression_utils import *
from sklearn.svm import SVR

In [2]:
# NORMALIZE = True
# KERNEL = "linear"
# C = 0.7
# EPS = 0.1
# REMOVE = ["positivos", "neutros", "negativos", "likes", "retweets", "day2", "day3"]

# Parâmetros do Grid Search
NORMALIZE = True
KERNEL = "sigmoid"
C = 0.85
EPS = 0.8
REMOVE = ["positivos", "neutros", "negativos", "likes", "retweets", "day2", "day3"]

In [3]:
summary_df = pd.DataFrame(columns=set(COLUMNS) - set(REMOVE))

# Paredao 1

In [4]:
train_df, test_df, mean, std = get_train_test(1, normalize=NORMALIZE, drop_columns=REMOVE)

In [5]:
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
27,1,bianca_andrade,1.833221,0.752099,-1.811261,1.147010,-0.122347,-0.863693,-1.154798,-0.148757,-0.352240,-0.570799,-0.349778
28,1,lucas_chumbo,-0.892153,0.365955,0.474976,1.422844,2.573783,2.882610,-0.056616,-0.538806,-0.450842,-0.491983,1.494959

In [6]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [7]:
regressor = SVR(C=C, kernel=KERNEL, epsilon=EPS)

In [8]:
_ = regressor.fit(x_train, y_train)

In [9]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [10]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
28,1,lucas_chumbo,-0.892153,0.365955,0.474976,1.422844,2.573783,2.882610,-0.056616,-0.538806,-0.450842,-0.491983,0.7594,0.586112
27,1,bianca_andrade,1.833221,0.752099,-1.811261,1.147010,-0.122347,-0.863693,-1.154798,-0.148757,-0.352240,-0.570799,0.2446,0.183791

# Paredao 2

In [11]:
train_df, test_df, mean, std = get_train_test(2, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
23,2,babu,0.928711,1.295460,-1.425411,-2.232462,-2.231834,-2.003946,-1.170579,-0.233167,-0.455656,-0.566068,-1.210512
24,2,petrix,-1.358060,0.110277,0.971141,-0.206082,0.814213,0.812895,1.496814,-0.528661,-0.451227,0.017384,1.650120
25,2,pyong,2.613741,-0.344804,-1.795454,0.096770,-1.375579,-1.568444,-0.721110,0.845381,-0.406741,-0.567741,-1.202628
26,2,hadson,-1.339086,-0.496142,1.293484,-0.656389,-0.066808,0.404093,0.106000,-0.540569,-0.458545,-0.326733,-0.558691

In [12]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [13]:
regressor = SVR(C=C, kernel=KERNEL, epsilon=EPS)

In [14]:
_ = regressor.fit(x_train, y_train)

In [15]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [16]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
24,2,petrix,-1.358060,0.110277,0.971141,-0.206082,0.814213,0.812895,1.496814,-0.528661,-0.451227,0.017384,0.8027,0.584109
26,2,hadson,-1.339086,-0.496142,1.293484,-0.656389,-0.066808,0.404093,0.106000,-0.540569,-0.458545,-0.326733,0.1863,0.416550
23,2,babu,0.928711,1.295460,-1.425411,-2.232462,-2.231834,-2.003946,-1.170579,-0.233167,-0.455656,-0.566068,0.0044,0.275543
25,2,pyong,2.613741,-0.344804,-1.795454,0.096770,-1.375579,-1.568444,-0.721110,0.845381,-0.406741,-0.567741,0.0066,0.018856

# Paredao 3

In [17]:
train_df, test_df, mean, std = get_train_test(3, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
9,3,felipe_prior,0.635208,0.710715,-0.877564,1.662847,0.676877,0.807885,-1.460743,-0.351503,-0.440828,-0.569818,-0.499206
10,3,hadson,-0.445508,2.103065,-0.829238,0.907007,1.774558,1.211031,-1.411062,-0.540569,-0.457004,-0.492790,1.630053

In [18]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [19]:
regressor = SVR(C=C, kernel=KERNEL, epsilon=EPS)

In [20]:
_ = regressor.fit(x_train, y_train)

In [21]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [22]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
10,3,hadson,-0.445508,2.103065,-0.829238,0.907007,1.774558,1.211031,-1.411062,-0.540569,-0.457004,-0.492790,0.7971,0.600972
9,3,felipe_prior,0.635208,0.710715,-0.877564,1.662847,0.676877,0.807885,-1.460743,-0.351503,-0.440828,-0.569818,0.2029,0.370540

# Paredao 4

In [23]:
train_df, test_df, mean, std = get_train_test(4, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
35,4,babu,-0.774447,-0.745010,1.002456,-0.252010,-0.137641,-0.013846,-0.348079,-0.233167,-0.436976,-0.556028,-1.179695
36,4,victor_hugo,-0.161468,0.717024,-0.275443,-1.733562,-1.593909,-1.611547,-1.090115,-0.536480,-0.453345,-0.541315,0.066614
37,4,lucas,-0.605035,-0.865066,0.940343,1.771418,1.527264,1.457150,0.558002,-0.527436,-0.421184,-0.230779,1.017649

In [24]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [25]:
regressor = SVR(C=C, kernel=KERNEL, epsilon=EPS)

In [26]:
_ = regressor.fit(x_train, y_train)

In [27]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [28]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
37,4,lucas,-0.605035,-0.865066,0.940343,1.771418,1.527264,1.457150,0.558002,-0.527436,-0.421184,-0.230779,0.6262,0.450555
35,4,babu,-0.774447,-0.745010,1.002456,-0.252010,-0.137641,-0.013846,-0.348079,-0.233167,-0.436976,-0.556028,0.0130,0.294344
36,4,victor_hugo,-0.161468,0.717024,-0.275443,-1.733562,-1.593909,-1.611547,-1.090115,-0.536480,-0.453345,-0.541315,0.3608,0.230370

# Paredao 5

In [29]:
train_df, test_df, mean, std = get_train_test(5, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
3,5,bianca_andrade,-0.243201,1.788413,-0.808291,0.234052,0.231601,-0.832431,-1.404892,-0.148757,-0.346078,-0.463537,0.676151
4,5,flayslene,-0.841292,-0.112454,0.701991,-1.143619,-1.163205,-0.947947,-1.408984,-0.448944,-0.408667,-0.408492,-0.594166
5,5,felipe_prior,-1.363129,-1.036894,1.612060,0.695412,0.727317,1.612135,-1.333261,-0.351503,-0.309488,-0.166329,-0.177416

In [30]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [31]:
regressor = SVR(C=C, kernel=KERNEL, epsilon=EPS)

In [32]:
_ = regressor.fit(x_train, y_train)

In [33]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [34]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
5,5,felipe_prior,-1.363129,-1.036894,1.612060,0.695412,0.727317,1.612135,-1.333261,-0.351503,-0.309488,-0.166329,0.2927,0.368659
3,5,bianca_andrade,-0.243201,1.788413,-0.808291,0.234052,0.231601,-0.832431,-1.404892,-0.148757,-0.346078,-0.463537,0.5309,0.353768
4,5,flayslene,-0.841292,-0.112454,0.701991,-1.143619,-1.163205,-0.947947,-1.408984,-0.448944,-0.408667,-0.408492,0.1764,0.142865

# Paredao 6

In [35]:
train_df, test_df, mean, std = get_train_test(6, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
0,6,gizelly_bicalho,2.207670,0.177714,-1.776936,0.005160,-0.771424,-1.504546,-0.177085,-0.321317,-0.203568,-0.549566,-1.203345
1,6,guilherme,-1.277026,-1.635348,1.878949,-0.678622,0.021878,0.702973,1.675991,-0.449643,-0.416177,0.994286,0.782936
2,6,pyong,-0.423969,-1.276289,1.031066,0.459308,0.545260,0.633330,0.996040,0.845381,-0.100345,0.285338,0.324977

In [36]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [37]:
regressor = SVR(C=C, kernel=KERNEL, epsilon=EPS)

In [38]:
_ = regressor.fit(x_train, y_train)

In [39]:
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [40]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
1,6,guilherme,-1.277026,-1.635348,1.878949,-0.678622,0.021878,0.702973,1.675991,-0.449643,-0.416177,0.994286,0.5607,0.422345
2,6,pyong,-0.423969,-1.276289,1.031066,0.459308,0.545260,0.633330,0.996040,0.845381,-0.100345,0.285338,0.4329,0.317785
0,6,gizelly_bicalho,2.207670,0.177714,-1.776936,0.005160,-0.771424,-1.504546,-0.177085,-0.321317,-0.203568,-0.549566,0.0064,0.123477

# Paredao 7

In [41]:
train_df, test_df, mean, std = get_train_test(7, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
6,7,babu,1.189059,-0.705682,-0.512018,0.929509,0.316380,0.588815,-0.297879,-0.233167,-0.156964,-0.562087,-1.061442
7,7,manu_gavassi,1.493400,0.331150,-1.319165,0.180796,-0.045720,-0.495466,-0.666234,3.670304,-0.112092,-0.549739,-0.861488
8,7,victor_hugo,-0.488858,0.526501,0.079240,-1.324459,-0.474947,-0.261592,-0.611357,-0.536480,-0.454308,-0.431514,1.827499

In [42]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [43]:
regressor = SVR(C=C, kernel=KERNEL, epsilon=EPS)

In [44]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [45]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
8,7,victor_hugo,-0.488858,0.526501,0.079240,-1.324459,-0.474947,-0.261592,-0.611357,-0.536480,-0.454308,-0.431514,0.8522,0.365614
6,7,babu,1.189059,-0.705682,-0.512018,0.929509,0.316380,0.588815,-0.297879,-0.233167,-0.156964,-0.562087,0.0460,0.297347
7,7,manu_gavassi,1.493400,0.331150,-1.319165,0.180796,-0.045720,-0.495466,-0.666234,3.670304,-0.112092,-0.549739,0.1018,0.162351

# Paredao 8

In [46]:
train_df, test_df, mean, std = get_train_test(8, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
17,8,babu,0.008010,-0.769554,0.421272,0.196319,-0.215564,-0.142261,0.355315,-0.233167,0.455058,0.553408,0.483364
18,8,rafa,-0.796472,-1.404753,1.385579,-1.094071,-1.054319,-0.410123,0.222832,-0.264257,0.114190,-0.548874,-1.205137
19,8,pyong,-0.397732,0.193546,0.194868,0.683598,1.065597,0.384141,1.223730,0.845381,0.090695,1.016788,0.626342

In [47]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [48]:
regressor = SVR(C=C, kernel=KERNEL, epsilon=EPS)

In [49]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [50]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
19,8,pyong,-0.397732,0.193546,0.194868,0.683598,1.065597,0.384141,1.223730,0.845381,0.090695,1.016788,0.5170,0.522438
17,8,babu,0.008010,-0.769554,0.421272,0.196319,-0.215564,-0.142261,0.355315,-0.233167,0.455058,0.553408,0.4771,0.282886
18,8,rafa,-0.796472,-1.404753,1.385579,-1.094071,-1.054319,-0.410123,0.222832,-0.264257,0.114190,-0.548874,0.0059,0.145190

# Paredão 9

In [51]:
train_df, test_df, mean, std = get_train_test(9, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
14,9,daniel,-0.410399,0.358339,0.112982,0.105547,0.583807,0.354462,1.300881,-0.517481,-0.439287,0.557158,1.669829
15,9,flayslene,0.402656,-0.683494,0.073474,0.274853,-0.332785,-0.069990,-0.624800,-0.448944,-0.070687,-0.514601,-0.884422
16,9,ivy,-0.139420,0.175070,0.008762,-0.594555,-0.455308,-0.452714,0.727632,-0.492852,-0.449494,-0.398222,-0.880839

In [52]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [53]:
regressor = SVR(C=C, kernel=KERNEL, epsilon=EPS)

In [54]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [55]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
14,9,daniel,-0.410399,0.358339,0.112982,0.105547,0.583807,0.354462,1.300881,-0.517481,-0.439287,0.557158,0.8082,0.531718
16,9,ivy,-0.139420,0.175070,0.008762,-0.594555,-0.455308,-0.452714,0.727632,-0.492852,-0.449494,-0.398222,0.0964,0.324770
15,9,flayslene,0.402656,-0.683494,0.073474,0.274853,-0.332785,-0.069990,-0.624800,-0.448944,-0.070687,-0.514601,0.0954,0.191247

# Paredão 10

In [56]:
train_df, test_df, mean, std = get_train_test(10, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
11,10,manu_gavassi,-0.066375,2.312396,-1.233700,1.771446,1.621925,0.554589,1.254188,4.117327,5.327546,1.747315,0.297027
12,10,mari,0.655693,0.285178,-0.656820,-1.546468,-1.908672,-1.471613,-0.255666,-0.287414,0.111109,-0.383566,-1.199045
13,10,felipe_prior,-1.146005,1.003371,0.313972,-0.439132,0.082460,0.748781,2.231900,0.076573,1.950834,4.930395,0.806587

In [57]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [58]:
regressor = SVR(C=C, kernel=KERNEL, epsilon=EPS)

In [59]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [60]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
13,10,felipe_prior,-1.146005,1.003371,0.313972,-0.439132,0.082460,0.748781,2.231900,0.076573,1.950834,4.930395,0.5673,0.851493
11,10,manu_gavassi,-0.066375,2.312396,-1.233700,1.771446,1.621925,0.554589,1.254188,4.117327,5.327546,1.747315,0.4251,0.572847
12,10,mari,0.655693,0.285178,-0.656820,-1.546468,-1.908672,-1.471613,-0.255666,-0.287414,0.111109,-0.383566,0.0076,0.170108

# Paredao 11

In [61]:
train_df, test_df, mean, std = get_train_test(11, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
32,11,babu,1.043080,-0.531598,-0.497722,0.227614,-0.120134,-0.009295,0.691199,0.072589,0.372634,-0.496772,-1.079001
33,11,gabi,0.914620,-0.574934,-0.376002,-0.324247,-0.539702,-0.305393,0.504684,-0.318583,-0.318924,0.333921,0.909789
34,11,thelma,0.282871,0.438887,-0.458765,-0.117522,0.455549,0.146445,0.231989,-0.174958,0.883166,-0.277400,0.073780

In [62]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [63]:
regressor = SVR(C=C, kernel=KERNEL, epsilon=EPS)

In [64]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [65]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
34,11,thelma,0.282871,0.438887,-0.458765,-0.117522,0.455549,0.146445,0.231989,-0.174958,0.883166,-0.277400,0.3628,0.381795
33,11,gabi,0.914620,-0.574934,-0.376002,-0.324247,-0.539702,-0.305393,0.504684,-0.318583,-0.318924,0.333921,0.5961,0.257997
32,11,babu,1.043080,-0.531598,-0.497722,0.227614,-0.120134,-0.009295,0.691199,0.072589,0.372634,-0.496772,0.0411,0.231054

# Paredão 12

In [66]:
train_df, test_df, mean, std = get_train_test(12, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
20,12,babu,0.516332,-0.737206,0.016887,1.163690,0.608985,0.035452,-0.143120,0.072589,0.097436,-0.507792,-1.188295
21,12,flayslene,-0.371442,-1.490722,1.110218,-0.092294,-0.159993,0.193357,1.177880,-0.360808,-0.082820,0.254008,0.536040
22,12,marcela,-1.099539,-0.914741,1.343846,-1.285551,-0.653279,-0.397052,0.740491,-0.314963,-0.376698,0.922335,0.556823

In [67]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [68]:
regressor = SVR(C=C, kernel=KERNEL, epsilon=EPS)

In [69]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [70]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
22,12,marcela,-1.099539,-0.914741,1.343846,-1.285551,-0.653279,-0.397052,0.740491,-0.314963,-0.376698,0.922335,0.4976,0.337848
21,12,flayslene,-0.371442,-1.490722,1.110218,-0.092294,-0.159993,0.193357,1.177880,-0.360808,-0.082820,0.254008,0.4918,0.317712
20,12,babu,0.516332,-0.737206,0.016887,1.163690,0.608985,0.035452,-0.143120,0.072589,0.097436,-0.507792,0.0106,0.286358

# Paredão 13

In [71]:
train_df, test_df, mean, std = get_train_test(13, normalize=NORMALIZE, drop_columns=REMOVE)
test_df

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao
29,13,flayslene,-0.225464,-0.328059,0.353578,0.314462,0.388387,0.582673,0.297711,-0.360808,-0.080124,0.259951,1.031266
30,13,thelma,-0.208468,1.789410,-0.835249,-1.249237,-0.662771,-1.136001,-1.229742,-0.174958,-0.164282,-0.164656,0.082739
31,13,babu,0.350276,-0.781817,0.167895,0.720620,0.070097,0.385085,-0.227156,0.072589,-0.128076,-0.535084,-1.209437

In [72]:
x_train, y_train = train_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), train_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()
x_test, y_test = test_df.drop(columns=["paredao", "nome", "rejeicao"], axis=1).to_numpy(), test_df.drop(columns=train_df.columns[:-1], axis=1).to_numpy()

In [73]:
regressor = SVR(C=C, kernel=KERNEL, epsilon=EPS)

In [74]:
_ = regressor.fit(x_train, y_train)
prediction = regressor.predict(x_test)
test_df["predicao"] = prediction * std + mean
test_df["rejeicao"] =  test_df["rejeicao"] * std + mean
summary_df = summary_df.append(test_df, ignore_index=True, sort=False)

In [75]:
test_df.sort_values(by="predicao", ascending=False)

,paredao,nome,positivos_individual_pct,neutros_individual_pct,negativos_individual_pct,positivos_global_pct,neutros_global_pct,negativos_global_pct,day1,seguidores,fica,fora,rejeicao,predicao
29,13,flayslene,-0.225464,-0.328059,0.353578,0.314462,0.388387,0.582673,0.297711,-0.360808,-0.080124,0.259951,0.6300,0.426321
30,13,thelma,-0.208468,1.789410,-0.835249,-1.249237,-0.662771,-1.136001,-1.229742,-0.174958,-0.164282,-0.164656,0.3653,0.361663
31,13,babu,0.350276,-0.781817,0.167895,0.720620,0.070097,0.385085,-0.227156,0.072589,-0.128076,-0.535084,0.0047,0.262866

# Sumarizando

In [76]:
summary_df = summary_df[["paredao", "nome", "rejeicao", "predicao"]]
summary_df["erro_absoluto"] = abs(summary_df["rejeicao"] - summary_df["predicao"])
summary_df.sort_values(by="erro_absoluto")

   paredao             nome  rejeicao  predicao  erro_absoluto
36      13           thelma    0.3653  0.361663       0.003637
22       8            pyong    0.5170  0.522438       0.005438
4        2            pyong    0.0066  0.018856       0.012256
31      11           thelma    0.3628  0.381795       0.018995
12       5        flayslene    0.1764  0.142865       0.033535
18       7     manu_gavassi    0.1018  0.162351       0.060551
0        1   bianca_andrade    0.2446  0.183791       0.060809
13       5     felipe_prior    0.2927  0.368659       0.075959
24       9        flayslene    0.0954  0.191247       0.095847
16       6            pyong    0.4329  0.317785       0.115115
14       6  gizelly_bicalho    0.0064  0.123477       0.117077
9        4      victor_hugo    0.3608  0.230370       0.130430
15       6        guilherme    0.5607  0.422345       0.138355
21       8             rafa    0.0059  0.145190       0.139290
26      10     manu_gavassi    0.4251  0.572847       0.147747
34      12          marcela    0.4976  0.337848       0.159752
27      10             mari    0.0076  0.170108       0.162508
6        3     felipe_prior    0.2029  0.370540       0.167640
1        1     lucas_chumbo    0.7594  0.586112       0.173288
33      12        flayslene    0.4918  0.317712       0.174088
10       4            lucas    0.6262  0.450555       0.175645
11       5   bianca_andrade    0.5309  0.353768       0.177132
29      11             babu    0.0411  0.231054       0.189954
20       8             babu    0.4771  0.282886       0.194214
7        3           hadson    0.7971  0.600972       0.196128
35      13        flayslene    0.6300  0.426321       0.203679
3        2           petrix    0.8027  0.584109       0.218591
25       9              ivy    0.0964  0.324770       0.228370
5        2           hadson    0.1863  0.416550       0.230250
17       7             babu    0.0460  0.297347       0.251347
37      13             babu    0.0047  0.262866       0.258166
2        2             babu    0.0044  0.275543       0.271143
32      12             babu    0.0106  0.286358       0.275758
23       9           daniel    0.8082  0.531718       0.276482
8        4             babu    0.0130  0.294344       0.281344
28      10     felipe_prior    0.5673  0.851493       0.284193
30      11             gabi    0.5961  0.257997       0.338103
19       7      victor_hugo    0.8522  0.365614       0.486586